@model EventB.ViewModels.SharedViews.AccessDeniedVM

    <div class="flex-hss">
        <div class="m-1">
            <img src="~/resourses/walkman.png" title="error"/>
        </div>
        <div class="m-1">
            <h3>@Model.Tittle</h3>
            <div>@Model.Text</div>
            <div>@Model.Reazon</div>
        </div>
    </div>


