<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/@ViewData["Style"]" />
    

</head>
<body>
    <header>
        <div class="the-container">
            <div id="title-container">
                <article>СОБЫТИЯ В ТВОЕМ ГОРОДЕ</article>
                <div class="shared-login">
                    @{if (User.Identity.IsAuthenticated)
                        {
                            <h5>ВЫ: @User.Identity.Name </h5>
                            <a asp-action="Exit" asp-controller="Account">Выйти</a>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account">Войти</a>
                            <a asp-action="Register" asp-controller="Account">Регистрация</a>
                        }


                    }
                </div>
            </div>
            <div id="menu-voider" class="menu-voider display-none"></div>
            <div class="main-menu-container">

                <ul id="main-menu-li">
                    <li>
                        <a asp-controller="Events" asp-action="Start">СОБЫТИЯ</a>
                    </li>
                    <li>
                        <a asp-controller="Search" asp-action="Index">ПОИСК</a>
                    </li>
                    <li>
                        <a asp-controller="Friends" asp-action="List">ПОЛЬЗОВАТЕЛИ</a>
                    </li>
                    <li>
                        <a asp-controller="MyPage" asp-action="Index">МОЯ СТРАНИЦА</a>
                    </li>
                    <li>
                        <a asp-controller="Messages" asp-action="Index">СООБЩЕНИЯ</a>
                    </li>
                    <li>
                        <a asp-action="MarketRoom" asp-controller="MarketRoom">ПОМОЩЬ</a>
                    </li>
                </ul>

            </div>
        </div>

    </header>
    <div class="the-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="the-container">
            &copy; 2020 - EventBuilder by GeorgyPetrov)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src ="~/js/debounce.js"></script> 
    <script src="~/js/site.js"></script>
    <script src="~/js/@ViewData["Script"]"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
