<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Нисиди - @ViewData["Title"]</title>
    <!--https://google.github.io/material-design-icons/-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.1.8/css/dx.common.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.1.8/css/dx.light.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/@ViewData["Style"]" />
    <link rel="icon" href="~/favicon.ico" />
</head>
<body>
    <header>
        <div class="the-container">
            <div id="title-container">
                <article>СОБЫТИЯ В ТВОЕМ ГОРОДЕ</article>
                <div class="shared-login">
                    @{if (User.Identity.IsAuthenticated)
                        {
                            <h5>ВЫ: @User.Identity.Name </h5>
                            <a asp-action="Exit" asp-controller="Account">Выйти</a>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account">Войти</a>
                            <a asp-action="Register" asp-controller="Account">Регистрация</a>
                        }


                    }
                </div>
            </div>
            <div id="menu-voider" class="menu-voider display-none"></div>
            <div class="main-menu-container">
                <ul id="main-menu-li">
                    <li>
                        <a asp-controller="Events" asp-action="Start">СОБЫТИЯ</a>
                    </li>
                    <li>
                        <a asp-controller="Search" asp-action="Index">ПОИСК</a>
                    </li>
                    <li>
                        <div>
                            <a asp-controller="Friends" asp-action="List">ПОЛЬЗОВАТЕЛИ</a>
                            <div id="mm-li-users" class="s-star16 display-none s-star16-formenu "></div>
                        </div>

                    </li>
                    <li>
                        <div>
                            <a asp-controller="MyPage" asp-action="Index">МОЯ СТРАНИЦА</a>
                            <div id="mm-li-mypage" class="s-star16 display-none s-star16-formenu "></div>
                        </div>

                    </li>
                    <li>
                        <div>
                            <a asp-controller="Messages" asp-action="Index">СООБЩЕНИЯ</a>
                            <div id="mm-li-messages" class="s-star16 display-none s-star16-formenu "></div>
                        </div>

                    </li>
                    <li>
                        <div>
                            <a class="menu-link" asp-action="Manual" asp-controller="Help">ПОМОЩЬ</a>
                            <div id="mm-li-manual" class="s-star16 display-none s-star16-formenu "></div>
                        </div>
                    </li>
                </ul>
                <div class="main-menu-thin">
                    <div id="menu-left-container"></div>
                    <div class="flex-vsc">
                        <span id="thin-menu">Меню</span>
                        <ul class="thin-menu-items-container display-none">

                            <li>
                                <a class="menu-link" asp-controller="Events" asp-action="Start">СОБЫТИЯ</a>
                            </li>
                            <li>
                                <a class="menu-link" asp-controller="Search" asp-action="Index">ПОИСК</a>
                            </li>
                            <li>
                                <div class="flex-hcc">
                                    <a class="menu-link" asp-controller="Friends" asp-action="List">ПОЛЬЗОВАТЕЛИ</a>
                                    <div id="mm-li-users-th" class="s-star16 display-none s-star16-formenu "></div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-hcc">
                                    <a class="menu-link" asp-controller="MyPage" asp-action="Index">МОЯ СТРАНИЦА</a>
                                    <div id="mm-li-mypage-th" class="s-star16 display-none s-star16-formenu "></div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-hcc">
                                    <a class="menu-link" asp-controller="Messages" asp-action="Index">СООБЩЕНИЯ</a>
                                    <div id="mm-li-messages-th" class="s-star16 display-none s-star16-formenu "></div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-hcc">
                                    <a class="menu-link" asp-action="Manual" asp-controller="Help">ПОМОЩЬ</a>
                                    <div id="mm-li-manual-th" class="s-star16 display-none s-star16-formenu "></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    @{if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Exit" asp-controller="Account"><div id="menu-thin-quit"></div></a>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account"><div id="menu-thin-login"></div></a>
                        }
                    }
                </div>
            </div>
        </div>

    </header>
    <div class="the-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
    </footer>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/dx.all.js"></script>
    <script type="text/javascript" src="~/js/dx.messages.ru.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/@ViewData["Script"]" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
