<!DOCTYPE html>
<html lang="ru">
<head>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KJP4RW2');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Нисиди - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://allfont.ru/allfont.css?fonts=roboto-regular" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/@ViewData["Style"]" />
    <link rel="icon" href="~/favicon.ico" />

</head>
<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJP4RW2"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <header>
        <div class="the-container">
            <div id="title-container">
                <a href="/">
                    <div class="flex-hsc">
                        <img class="main-running-man" src="~/resourses/running_man.png" alt="nisidi" />
                        <article class="title-container-article">СОБЫТИЯ В ТВОЕМ ГОРОДЕ</article>
                    </div>
                </a>

                <div class="shared-login">
                    @{if (User.Identity.IsAuthenticated)
                        {
                            <h5>@User.Identity.Name </h5>
                            <a asp-action="Exit" asp-controller="Account">Выйти</a>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account">Войти</a>
                            <a asp-action="Register" asp-controller="Account">Регистрация</a>
                        }


                    }
                </div>
            </div>
            <div id="menu-voider" class="menu-voider display-none"></div>
            <div class="main-menu-container">
                <ul id="main-menu-li">
                    <li>
                        <a asp-controller="Events" asp-action="Start">СОБЫТИЯ</a>
                    </li>
                    <li>
                        <a asp-controller="Search" asp-action="Index">ПОИСК</a>
                    </li>
                    <li>
                        <div>
                            <a asp-controller="Friends" asp-action="List">ПОЛЬЗОВАТЕЛИ</a>
                            <div id="mm-li-users" class="s-star16 display-none s-star16-formenu "></div>
                        </div>

                    </li>
                    <li>
                        <div>
                            <a asp-controller="MyPage" asp-action="Index">МОЯ СТРАНИЦА</a>
                            <div id="mm-li-mypage" class="s-star16 display-none s-star16-formenu "></div>
                        </div>

                    </li>
                    <li>
                        <div>
                            <a asp-controller="Messages" asp-action="Index">СООБЩЕНИЯ</a>
                            <div id="mm-li-messages" class="s-star16 display-none s-star16-formenu "></div>
                        </div>

                    </li>
                    <li>
                        <div>
                            <a class="menu-link" asp-action="Manual" asp-controller="Help">ПОМОЩЬ</a>
                            <div id="mm-li-manual" class="s-star16 display-none s-star16-formenu "></div>
                        </div>
                    </li>
                </ul>
                <div class="main-menu-thin">
                    <div id="menu-left-container"></div>
                    <div class="flex-vsc">
                        <span id="thin-menu">Меню</span>
                        <ul class="thin-menu-items-container display-none">

                            <li>
                                <a class="menu-link" asp-controller="Events" asp-action="Start">СОБЫТИЯ</a>
                            </li>
                            <li>
                                <a class="menu-link" asp-controller="Search" asp-action="Index">ПОИСК</a>
                            </li>
                            <li>
                                <div class="flex-hcc">
                                    <a class="menu-link" asp-controller="Friends" asp-action="List">ПОЛЬЗОВАТЕЛИ</a>
                                    <div id="mm-li-users-th" class="s-star16 display-none s-star16-formenu "></div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-hcc">
                                    <a class="menu-link" asp-controller="MyPage" asp-action="Index">МОЯ СТРАНИЦА</a>
                                    <div id="mm-li-mypage-th" class="s-star16 display-none s-star16-formenu "></div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-hcc">
                                    <a class="menu-link" asp-controller="Messages" asp-action="Index">СООБЩЕНИЯ</a>
                                    <div id="mm-li-messages-th" class="s-star16 display-none s-star16-formenu "></div>
                                </div>
                            </li>
                            <li>
                                <div class="flex-hcc">
                                    <a class="menu-link" asp-action="Manual" asp-controller="Help">ПОМОЩЬ</a>
                                    <div id="mm-li-manual-th" class="s-star16 display-none s-star16-formenu "></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    @{if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Exit" asp-controller="Account"><div id="menu-thin-quit"></div></a>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account"><div id="menu-thin-login"></div></a>
                        }
                    }
                </div>
            </div>
        </div>

    </header>
    <div class="the-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
    </footer>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" type="module"></script>
    <script src="~/js/@ViewData["Script"]" asp-append-version="true" type="module"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
