
<div class="the-container foot-body">
    <div class="flex-hsbs">
        <div class="foot-column">
            <div class="foot-gold-color foot-item"><b>NISIDI.RU</b></div>
            <br>
            <a href="/"><div class="foot-white-color">События</div></a>
            <a href="/Friends/List"><div class="foot-white-color">Друзья</div></a>
            <a href="/MyPage/Index"><div class="foot-white-color">Аккаунт</div></a>
            <a href="/Messages/Index"><div class="foot-white-color">Сообщения</div></a>
            <a href="/Help/Manual"><div class="foot-white-color">Помощь</div></a>
        </div>
        <div class="foot-column"></div>
        <div class="foot-column">
            <a href="#sitetop">
                <div class="foot-white-color">
                    <b>НАВЕРХ</b>
                </div>
            </a>
        </div>
    </div>
</div>
