@model EventB.ViewModels.Account.ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "AccountJs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-page-header">Изменить пароль</div>

<div class="identity-cintainer">
    <form asp-action="ChangePassword" asp-antiforgery="true" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <label class="form-label" asp-for="OldPassword"></label><br>
        <span asp-validation-for="OldPassword"></span>
        <input class="form-entry-title" type="password" asp-for="OldPassword"><br>

        <label class="form-label" asp-for="NewPassword"></label><br>
        <span asp-validation-for="NewPassword"></span>
        <input class="form-entry-title" type="password" asp-for="NewPassword"><br>

        <label class="form-label" asp-for="ConfirmPassword"></label><br>
        <span asp-validation-for="ConfirmPassword"></span>
        <input class="form-entry-title" type="password" asp-for="ConfirmPassword"><br><br>

        <input class="form-submit" type="submit" value="Изменить"><br>
        <a href="#"><h5>Забыли пароль</h5></a>
    </form>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}