
@{
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "AccountJs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Подтвердить Email";
}

<div class="top-page-header">Подтвердите адресс электронной почты.</div>
<p>Для завершения регистрации перейдите пы ссылке, которая была отправленна на электронную почту.</p>
<p>Если вы не видите письмо во входящих, проверьте папку Спам.</p>
<p>Или нажмите <b><a asp-action="RepeatEmailConfirmMessage" asp-route-email="@Model">ЗДЕСЬ</a></b> для повторной отправки письма.</p>