@model EventB.ViewModels.Account.UserLogin
@{
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "Account.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Войти";
}
<div class="small-container">
    <div class="top-page-header">Войти</div>

    <div class="identity-cintainer">
        <form asp-controller="Account" asp-action="Login" asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />

            <label class="form-label" asp-for="LoginProp"></label><br>
            <span asp-validation-for="LoginProp"></span>
            <input class="form-entry-title" type="text" asp-for="LoginProp"><br>

            <label class="form-label" asp-for="Password"></label><br>
            <span asp-validation-for="Password"></span>
            <input class="form-entry-title" type="password" asp-for="Password"><br><br>

            <input class="form-submit" type="submit" value="ВОЙТИ"><br>
            <a asp-action="PasswordRecovery"><h5>Забыли пароль</h5></a>

            <a asp-action="Register"><h5>Регистрация</h5></a>
        </form>
    </div>
</div>


