@{
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "AccountJs";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="acc-form-menu flex-vcc">
    <div class="acc-window">
        <h3>Пароль успешно изменен.</h3>
        <p>перейти <b><a asp-action="START" asp-controller="Events">НА ГЛАВНУЮ</a></b></p>
        <p>перейти <b><a asp-action="Index" asp-controller="MyPage">В ПРОФИЛЬ</a></b></p>
    </div>
</div>
