@{
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "AccountJs";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Отправлено письмо";
}
<div class="acc-form-menu flex-vcc">
    <div class="acc-window">
        <h3>Сообщение отправлено</h3>
        <p>Проверьте почту и перейдите по ссылке, указанной в письме.</p>
    </div>
    <a class="acc-width500" href="/">на главную</a>
</div>
