
@{
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "AccountJs";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="small-container">
    <div>Пользователь не найден ИЛИ</div>
    <div>Электронная почта пользователя не подтверждена</div>
</div>
