
@{
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "AccountJs";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Восстановить";
}

<div class="acc-form-menu flex-vcc">
    <div class="acc-window">
        <h3>Восстановление пароля</h3>

        <div class="identity-cintainer">
            <form asp-action="PasswordRecovery" asp-antiforgery="true" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p>Введите адрес электронной почты, которая была указана при регистрации.</p>
                <p>На этот адрес будет отправлена ссылка для восстановления пароля.</p>
                <input class="form-entry-title" type="text" name="email" value="@ViewBag.Email" /><br>
                <input class="form-submit" type="submit" value="Отправить"><br>
            </form>
        </div>
    </div>
    <a class="acc-width500" href="/">на главную</a>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</div>

