@{
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "AccountJs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-page-header">Пароль восстановлен.</div>
<p>Пароль успешно изменен. Для входа перейдите по ссылке <a asp-action="Login">ВОЙТИ</a></p>

