@{
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "AccountJs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Отправлено письмо";
}

    <div class="top-page-header">Письмо отправленно</div>
    <p>Проверьте почту и перейдите по ссылке.</p>
