
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Восстановить";
}

<div class="small-container">
    <div class="top-page-header">Восстановление пароля</div>

    <div class="identity-cintainer">
        <form asp-action="PasswordRecovery" asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Введите адрес электронной почты, которая была указана при регистрации.</p>
            <p>На этот адрес будет отправлена ссылка для восстановления пароля.</p>
            <input class="form-entry-title" type="text" name="email"/><br>        
            <input class="form-submit" type="submit" value="Отправить"><br>
        </form>
    </div>
</div>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

