@model EventB.ViewModels.Account.PasswordRecoveryVM
@{
    ViewData["Style"] = "Account.css";
    ViewData["Script"] = "AccountJs";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Восстановление пароля";
}

<div class="acc-form-menu flex-vcc">
    <div class="acc-window">
        <h3>ИЗМЕНЕНИЕ ПАРОЛЯ</h3>
        <form asp-action="PasswordRecoveryPage" asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserId">
            <input type="hidden" asp-for="Token">

            <label class="StartAdd-label" asp-for="Password"></label><br>
            <span asp-validation-for="Password"></span>
            <input class="form-entry-title" type="password" asp-for="Password"><br>

            <label asp-for="ConfirmPassword" class="StartAdd-label"></label><br>
            <span asp-validation-for="ConfirmPassword"></span>
            <input class="form-entry-title" type="password" asp-for="ConfirmPassword"><br>

            <input class="form-submit" type="submit" value="ИЗМЕНИТЬ"><br>
        </form>
    </div>
    <a class="acc-width500" href="/">на главную</a>
</div>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
