@model EventB.ViewModels.Account.PasswordRecoveryVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Восстановление пароля";
}

<div class="small-container">
    <div class="top-page-header">Восстановите пароль</div>
    <div class="identity-cintainer">
        <form asp-action="PasswordRecoveryPage" asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserId"><br>
            <input type="hidden" asp-for="Token"><br>

            <label class="StartAdd-label" asp-for="Password"></label><br>
            <span asp-validation-for="Password"></span>
            <input class="form-entry-title" type="password" asp-for="Password"><br>

            <label asp-for="ConfirmPassword" class="StartAdd-label"></label><br>
            <span asp-validation-for="ConfirmPassword"></span>
            <input class="form-entry-title" type="password" asp-for="ConfirmPassword"><br>
            
            <input class="form-submit" type="submit" value="Подтвердить"><br>
        </form>
    </div>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}