@model EventB.ViewModels.UserRegistration
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="small-container">
        <h3>Регистрация</h3>
        <div class="identity-cintainer">
            <form asp-action="Register" asp-antiforgery="true" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label class="StartAdd-label" asp-for="Email"></label><br>
                <span asp-validation-for="Email"></span>
                <input class="form-entry-title" type="text" asp-for="Email"><br>


                <label class="StartAdd-label" asp-for="Password"></label><br>
                <span asp-validation-for="Password"></span>
                <input class="form-entry-title" type="password" asp-for="Password"><br>

                <label asp-for="СonfirmPassword" class="StartAdd-label"></label><br>
                <span asp-validation-for="СonfirmPassword"></span>
                <input class="form-entry-title" type="password" asp-for="СonfirmPassword"><br>

                <label class="StartAdd-label" asp-for="Name"></label><br>
                <span asp-validation-for="Name"></span>
                <input class="form-entry-title" type="text" asp-for="Name"><br>

                <label class="StartAdd-label" asp-for="City"></label><br>
                <span asp-validation-for="City"></span>
                <input class="form-entry-title" type="text" asp-for="City"><br>

                <label class="StartAdd-label" asp-for="Tegs"></label><br>
                <input class="form-entry-title" type="text" asp-for="Tegs"><br>

                <input class="form-submit" type="submit" value="Регистрация"><br>
            </form>
        </div>
    </div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}