@model EventB.ViewModels.Account.UserRegistration
@{
    ViewData["Title"] = "Регистрация";
    ViewData["Script"] = "Account.js";
    ViewData["Style"] = "Account.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="small-container">
        <div class="top-page-header">Зарегестрироваться</div>
        <div class="identity-cintainer">
            <form action="/Account/Register" asp-antiforgery="true" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label class="StartAdd-label" asp-for="Email"></label><br>
                <span asp-validation-for="Email"></span>
                <input class="form-entry-title" type="text" asp-for="Email"><br>


                <label class="StartAdd-label" asp-for="Password"></label><br>
                <span asp-validation-for="Password"></span>
                <input class="form-entry-title" type="password" asp-for="Password"><br>

                <label asp-for="СonfirmPassword" class="StartAdd-label"></label><br>
                <span asp-validation-for="СonfirmPassword"></span>
                <input class="form-entry-title" type="password" asp-for="СonfirmPassword"><br>

                <label class="StartAdd-label" asp-for="Name"></label><br>
                <span asp-validation-for="Name"></span>
                <input class="form-entry-title" type="text" asp-for="Name"><br>

                <label class="form-label" asp-for="Photo"></label>
                <span asp-validation-for="Photo"></span><br>
                <input class="form-date" type="file" asp-for="Photo" /><br>

                <label class="StartAdd-label" asp-for="City"></label><br>
                <span asp-validation-for="City"></span>
                <input class="form-entry-title" type="text" asp-for="City"><br>

                <label class="StartAdd-label" asp-for="Tegs"></label><br>
                <input class="form-entry-title" type="text" asp-for="Tegs"><br>

                <label class="StartAdd-label" asp-for="PhoneNumber"></label><br>
                <input class="form-entry-title" type="text" asp-for="PhoneNumber"><br>

                <label class="StartAdd-label" asp-for="Description"></label><br>
                <span asp-validation-for="Description"></span>
                <textarea class="form-entry-title" maxlength="1000" type="text" asp-for="Description"></textarea><br>

                <label class="StartAdd-label">Я соглашаюсь с <a href="/Help/Agreement" target="_blank" style="text-decoration: underline; font-size: 18px">правилами использования</a> сайта:</label>
                <span asp-validation-for="AgreePersonalData"></span>                
               
                <label><input type="checkbox" asp-for="AgreePersonalData" id="agree-personal-data"></label><br>
                <input class="form-submit" type="submit" value="Регистрация"><br>
            </form>
        </div>
    </div>