
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mypage-header">
    <div class="mypage-img">
        <img src="~/images/defaultimg.jpg" alt="фото">
    </div>
    <div class="mypage-right-column">
        <div class="mypage-redact">
            <h3>Имя пользователя</h3>
            <a id="btn-redact">редактировать</a>
        </div>
        <h3>Ccылка на страницу:</h3>
        <p>ссылка ..............</p>
        <h3>в городе:</h3>
        <p>сгород ..............</p>
        <h3>Мои теги:</h3>
        <div>
            <p>
                интерес интерес интерес интерес интерес интерес интерес интерес интерес
                интерес интерес интерес интерес интерес интерес интерес интерес интерес интерес интерес интерес интерес интерес интерес интерес
                интерес интерес интерес интерес интерес интерес интересинтерес интерес интерес интерес интерес интерес интерес интерес интерес
                интерес интерес интерес интерес интерес интерес интересинтерес интерес интерес интерес интерес интерес интерес интерес интерес
                интерес интерес интерес интерес интерес интерес интерес
            </p>
        </div>
    </div>
</div>
<div class="mypage-details-header">
    <a href="#">
        <div class="mypage-details-header-item mypage-details-header-selected">
            Мои события
        </div>
    </a>
    <a href="#">
        <div class="mypage-details-header-item">
            Посещенные события
        </div>
    </a>
    <a href="#">
        <div class="mypage-details-header-item">
            Подписки
        </div>
    </a>
</div>

