<div>
    <h3 class="mr-t-header">Завести новое обращение</h3>
    <div >
        <p>Пожалуйста, как можно подробней опишите суть вашего обращения</p>
        <textarea id="mr-t-message-text" class="mr-t-message-text" rows="7"></textarea><br />
        <div id="mr-t-send-new" class="mr-t-btn calltoaction-prime-btn transition-1">Отправить</div>
    </div>
    <h3 class="mr-t-header">Ранее открытые обращения</h3>
    <div id="mr-tickets-list"></div>
</div>