<div class="bnrreg1">
    <div class="bnrreg1-div1">Тысячи людей не знают, чем заняться.</div>
    <div class="bnrreg1-div2">Пройди простую процедуру регистрации и опубликуй свое событие. <br/>Возможно, кто-то сейчас ищет именно его на <b class="darkblue-color">NISIDI.RU</b></div>
    <br/>
    <a href="/Account/Login?LoadRegisterPage=true&ReturnUrl=/Events/Add">
        <div class="calltoaction-prime-btn-orange transition-1 width250px">Регистрация</div>
    </a>
</div>