@if (ViewData["show"].ToString() == "true")
{
<div class="banner-container bnr-img-fon-1">
    <button type="button" class="btn-close btn-close-white">
        <span class="material-icons">
            close
        </span>
    </button>
    <div class="carousel-item-block">
        <div class="my-carousel-item carousel-selected bnr-full-width">
            <div class="bnr bnr-transparent-fon-dark flex-vsac">
                <h3 class="bnr-title-big bnr-upper ">NISIDI</h3>
                <p>Привет! Тебя тут ждали.<br></p>
                <h4>Ищи интересные события и создавай свои.</h4>
                <p> Не сиди!</p>
            </div>
        </div>
        <div class="my-carousel-item bnr-full-width">
            <div class="bnr bnr-transparent-fon-light">
                <h3>Как пользоваться</h3>
                <div class="">
                    <p class="bnr-text">Укажи на своей странице интересы и получай приглашения. </p>
                    <p class="bnr-text">Ищи, используя хештеги или следуй  рекомендациям. Ничего лишнего. </p>

                    <p class="bnr-text">Что тебе интересно? Танцы, развитие детей, концерт рок-музыканта, вечер встречи выпускников, кулинарный мастер-класс, выставка любимого художника?</p>
                    <p class="bnr-text">Всё найдётся здесь.</p>
                    <p class="bnr-text">Проверь!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-btn carousel-btn-prev">
        <div class="chevron-left"></div>
    </div>
    <div class="carousel-btn carousel-btn-next">
        <div class="chevron-right"></div>
    </div>
</div>
}