@if (ViewData["show"].ToString() == "true")
{
<div class="banner-container bnr-img-fon-1">
    <button type="button" class="btn-close btn-close-white">
        <span class="material-icons">
            close
        </span>
    </button>
    <div class="carousel-item-block">
        <div class="my-carousel-item carousel-selected bnr-full-width">
            <div class="bnr bnr-transparent-fon-dark flex-vsac">
                <div>
                    <h3 class="bnr-title-big bnr-upper " style="color:gold;">NISIDI</h3>
                    <p class="bnr-color-gold">Привет! Тебя тут ждали.<br></p>
                </div>
                <h4 class="bnr-color-gold">Ищи интересные события и создавай свои.</h4>
                <p class="bnr-color-gold"> Не сиди!</p>
            </div>
        </div>
        <div class="my-carousel-item bnr-full-width">
            <div class="bnr bnr-transparent-fon-light">
                <h3>Как найти</h3>
                <div class="">
                    <h5>Здесь ты найдёшь любые события.</h5>
                    <p class="bnr-text">У событий есть теги, а у тебя есть интересы. Задай то, что тебе интересно и получишь то, что ищешь. </p>
                    <p class="bnr-text">Просто укажи интересы в настройках поиска через пробел или зарегистрируйся и укажи их в анкете. </p>
                    <p class="bnr-text">Система сама подберёт тебе карточки с такими же тегами.</p>
                    <p class="bnr-text">Мы не будем показывать тебе то, что тебе не интересно.</p>
                </div>
            </div>
        </div>
        <div class="my-carousel-item bnr-full-width">
            <div class="bnr bnr-transparent-fon-light">
                <h3>Как создать</h3>
                <div class="">
                    <p class="bnr-text">События бывают публичные и частные. Публичные мы покажем на главной странице, в приватные можно попасть только по приглашению.</p>
                    <p class="bnr-text">Создай событие, укажи правильные теги и его увидят толко те, кто сам указал такие же интересы.</p>
                    <p class="bnr-text">Приглашай на события тех, кого хочешь там увидеть.</p>
                    <p class="bnr-text">Мы не будем показывать событие тем, кому оно не интересно.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-btn carousel-btn-prev">
        <div class="chevron-left"></div>
    </div>
    <div class="carousel-btn carousel-btn-next">
        <div class="chevron-right"></div>
    </div>
</div>
}