@if (ViewData["show"].ToString() == "true")
{
<div class="banner-container bnr-img-fon-1">
    <button type="button" class="btn-close btn-close-white">
        <span class="material-icons">
            close
        </span>
    </button>
    <div class="carousel-item-block">
        <div class="my-carousel-item carousel-selected bnr-full-width">
            <div class="bnr bnr-transparent-fon">

                <h3 class="bnr-title-big bnr-upper ">NISIDI</h3>
                <div class="flex-hsbc">
                    <p>Правильно сделал, что зашёл. Тебя тут ждали). Ищи интересные события и людей, создавай свои. Главное — не сиди!</p>
                </div>
            </div>
        </div>
        <div class="my-carousel-item bnr-full-width">
            <div class="bnr">
                <h3>Как найти</h3>
                <p>Этот сайт пfsdfоможет найти все события, которые интересны именно вам и не потратить на это много времени.</p>
                <p>Все что нужно это на странице поиска dgd</p>
                <div class="">
                    <h5>Здесь ты найдёшь любые любые события.</h5>
                    <p>У событий есть теги, а у тебя есть интересы. Задай то что тебе интересно и получишь то, что ищешь. </p>
                    <p>Просто укажи в настройках поиска </p>
                </div>
            </div>
        </div>
        <div class="my-carousel-item bnr-full-width">
            <div>
                <h3>Как создать</h3>
                <p>Этот сайт пfsdfоможет найти все события, которые интересны именно вам и не потратить на это много времени.</p>
                <p>Все что нужно это на странице поиска dgd</p>
                <div class="">
                    <h5>Здесь ты создашь события, на которые прийдут нужные люди.</h5>
                    <p>Создай события, укажи теги и твое событие увидят толко те, кто сам указал интересы такие же как и у твоего события.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-btn carousel-btn-prev">
        <div class="chevron-left"></div>
    </div>
    <div class="carousel-btn carousel-btn-next">
        <div class="chevron-right"></div>
    </div>
</div>
}