@using CommonServices.Infrastructure.Helpers
@model EventB.ViewModels.Paging.EventsPagingFilterModel<Event, string>

<div class="s-filter-container mb-2">
    <span class="small-label">Фильтр</span>
    <div class="flex-hsbc">
        <input id="mp-vizits-filter" class="s-filter" autocomplete="off" value="@Model.Filter" />
        <input type="hidden" id="mp-vizits-filter-applyed" class="s-filter" autocomplete="off" value="@Model.Filter" />
        <span id="mp-vizits-clear-filter" class="sfilter-clear">
            <span class="material-icons s-filter-icons">close</span>
        </span>
        <span id="mp-vizits-search-filter" class="sfilter-search">
            <span class="material-icons s-filter-icons">search</span>
        </span>
    </div>

</div>
<div class="flex-hcc">
    <div id="mp-vizits-tab-container" class="element-square-container">
        @if (Model.Events == null || Model.Events.Count == 0)
        {
            <div class="mp-none-content">Отметок пойду пока нет</div>
        }
        else
        {
            @foreach (var e in Model.Events)
            {
                <div class="mp-details-figure">
                    @{await Html.RenderPartialAsync("_smallFigure", new EventB.ViewModels.SmallFigure()
                        {
                            Title = e.Title,
                            Link = $"/Events/Details/{e.EventId}",
                            Image = e.MediumImage,
                            Active = e.Date < DateTime.Now ? false : true,
                            AdditionalLine = e.Date.ToDateStringmonth(false, " ", false)
                        });
                    }
                </div>
            }
        }
    </div>
</div>
<div class="flex-hcc">
    @{await Html.RenderPartialAsync("~/Views/Shared/Components/_PagingBar.cshtml", Model.Paging); }
</div>
