

<div class="bnrre-body">
    <h3 class="bnrre-head">Рекомендации</h3>
    <div class="bnrre-maintext">
        Укажи то, что тебе интересно и получи в выдаче те события, которые совпадают с твоими интересами. Не забывай, что все символы кроме пробела и @@ будут удалены и строка будет разбита на слова. Мы сохраним твои интересы для будущего поиска.
    </div>
    <br />
    <div class="bnrre-teg-container">
        <div class="bnrre-teg"><div>концерт&nbsp;</div><span class="material-icons bnrre-delete-teg">close</span></div>
        <div class="bnrre-teg">концерт&nbsp;<span class="material-icons bnrre-delete-teg">close</span></div>
    </div>
    <div class="flex-hsc flex-wr">
        <input class="bnrre-input" type="text" value="" placeholder="Введите новый тег" />
        <div class="dot16px"></div>
        <div class="bnrre-btn-add-teg bnrre-auth">Добавить</div>
        <div class="bnrre-btn-add-teg bnrre-notauth display-none">Добавить НА</div>
    </div>
    <div class="dot16px">&nbsp;</div>
    <div>
        <input type="hidden" value="true" id="bnrre-is-auth-user" />
        <input type="hidden" value="false" id="bnrre-is-auth-user" />
        <div class="calltoaction-prime-btn-orange bnrre-dtn-filter transition-1">
            Рекомендации
        </div>
    </div>
</div>