@model EventB.ViewModels.EventsVM.UserIntereses

<div class="bnrre-body">
    <div class="flex-hsbc">
        <h3 class="bnrre-head">Рекомендации</h3>
        <button type="button" class="bnrre-close">
            <span class="material-icons">close</span>
        </button>
    </div>
    
    <div class="bnrre-maintext">
        Укажи то, что тебе интересно и получи в выдаче те события, которые совпадают с твоими интересами. Не забывай, что все символы кроме пробела и @@ будут удалены и строка будет разбита на слова. Мы сохраним твои интересы для будущего поиска.
    </div>
    <br />
    <div class="bnrre-teg-container">
        @foreach (var interes in Model.Intereses)
        {
            <div class="bnrre-teg">                <div class="bnrre-interers-value">@interes</div>&nbsp;                <span class="material-icons bnrre-delete-teg bnrre-delete-teg">close</span>
            </div>
        }
    </div>
    <div class="flex-hsc flex-wr">
        <input class="bnrre-input" type="text" value="" placeholder="Введите новый тег" />
        <div class="dot16px"></div>
        <div class="bnrre-btn-add-teg bnrre-add-teg">Добавить</div>
    </div>

    <div class="dot16px">&nbsp;</div>
    <div>
        <input type="hidden" id="bnrre-user-id" value="@Model.UserId" />
        <button class="calltoaction-prime-btn-orange bnrre-btn-filter transition-1">
            Подобрать
        </button>
    </div>
</div>