

<h2>Add</h2>
<form action="Add" method="post">
    <label>Заголовок</label><br>
    <input type="text" name="ev.Title"/><br>
    <label>тело</label><br>
    <input type="text" name="ev.Body"/><br>
    <input type="submit" value="add"/>
</form>
