@model EventB.ViewModels.AddEventViewModel
@{
    ViewData["Style"] = "Forms.css";
    ViewData["Title"] = "Добавить";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "добавить событие";
}
<div class="top-page-header">Вы добавляете событие</div>

<form asp-action="Add" asp-antiforgery="true" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="form-summary"></div>

    <label class="form-label" asp-for="Title"></label>
    <span asp-validation-for="Title"></span>
    <input class="form-entry-title" type="text" asp-for="Title" /><br>

    <label class="form-label" asp-for="Body"></label>
    <span asp-validation-for="Body"></span>
    <textarea class="form-entry-body" type="text" asp-for="Body"></textarea><br>

    <label class="form-label" asp-for="Tegs"></label>
    <span asp-validation-for="Tegs"></span>
    <input class="form-entry-title" type="text" asp-for="Tegs" /><br>

    <label class="form-label" asp-for="City"></label>
    <span asp-validation-for="City"></span>
    <input class="form-entry-title" type="text" asp-for="City" /><br>

    <label class="form-label" asp-for="Place"></label>
    <span asp-validation-for="Place"></span>
    <input class="form-entry-title" type="text" asp-for="Place" /><br>

    <!--Переделать селектами-->
    <label class="form-label" asp-for="Date"></label>
    <span asp-validation-for="Date"></span>
    <input id="eve-date" class="form-date" type="hidden" asp-for="Date" />
    <div class="calender-width" id="dateEvent"></div>
    <br>

    <label class="form-label" asp-for="TicketsDesc"></label>
    <span asp-validation-for="TicketsDesc"></span>
    <textarea class="form-entry-body" type="text" asp-for="TicketsDesc"></textarea><br>

    <label class="form-label" asp-for="Phone"></label>
    <span asp-validation-for="Phone"></span>
    <input class="form-entry-title" type="text" asp-for="Phone" /><br>

    <label class="form-label" asp-for="AgeRestrictions"></label>
    <span asp-validation-for="AgeRestrictions"></span>
    <select asp-for="AgeRestrictions">
        <option value="0">0+</option>
        <option value="6">6+</option>
        <option value="12">12+</option>
        <option value="16">16+</option>
        <option value="18">18+</option>
    </select><br>

    <label class="form-label" asp-for="MainPicture"></label>
    <input class="form-date" type="file" asp-for="MainPicture" /><br>

    <input class="form-submit" type="submit" value="Сохранить" />
</form>
@{ ViewData["Script"] = "Event.js";}