@using EventBLib.Models
@model EventB.ViewModels.EventsVM.EventListVM
@{
    ViewData["Style"] = "Event.css";
    ViewData["Script"] = "Event.js";
    ViewData["Title"] = !string.IsNullOrEmpty(Model.args.Tegs) ? "Поиск событий о " + Model.args.Tegs + "в городе " + Model.args.City : "Все события города " + Model.args.City;
    ViewData["Description"] = "Nisidi.ru - это сервис, который объединяет организаторов самых разных мероприятий с теми людьми, кто ищет куда бы сходить и чем заняться. Здесь ты найдешь все что угодно. Здесь ты создашь анонсы, которые увидят тысячи заинтересованных пользователей. " + Model.args.City + " " + Model.args.Tegs;
}

<div id="ev-hello-banner" class="display-none"></div>

@{await Html.RenderPartialAsync("_EventListSearchForm", Model);}
@{await Html.RenderPartialAsync("_SearchByRecomendations", Model.UserInterses);}

<div class="flex-hcc">
    <div id="event-list"></div>
</div>

<div id="end-marker">
    <div id="ev-load-more" class="display-none">Загрузить еще</div>
    <div id="noTrespassingOuterBarG">
        <div id="noTrespassingFrontBarG" class="noTrespassingAnimationG">
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
        </div>
    </div>
</div>

<div>
    @{ await Html.RenderPartialAsync("_SiteFooter"); }
</div>



