@using EventBLib.Models
@model EventB.ViewModels.EventsVM.EventListVM
@{
    ViewData["Title"] = "События";
    ViewData["Style"] = "Event.css";
    ViewData["Script"] = "Event.js";
    ViewData["Title"] = "события";
}
<!--
<div class="top-page-header flex-hsbs flex-wr">

    <a class="top-page-header-a" asp-controller="Events" asp-action="Add">ДОБАВИТЬ</a>
    @if (Model.ByMyTegsLink != null)
    {
        <a class="ev-recomendations" href="@Model.ByMyTegsLink">рекомендации</a>
    }
</div>
    -->
<div id="ev-hello-banner" class="display-none"></div>

@{await Html.RenderPartialAsync("_EventListSearchForm", Model);}

<div id="event-list">
</div>
<div id="end-marker">
    <div id="ev-load-more" class="display-none">Загрузить еще</div>
    <div id="noTrespassingOuterBarG">
        <div id="noTrespassingFrontBarG" class="noTrespassingAnimationG">
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
        </div>
    </div>
</div>


@{
    ViewData["Script"] = "Event.js";
}



