@using EventBLib.Models
@model EventB.ViewModels.EventsVM.EventListVM
@{
    ViewData["Title"] = "События";
    ViewData["Style"] = "Event.css";
    ViewData["Script"] = "Event.js";
    ViewData["Title"] = "события";
}

<div id="ev-hello-banner" class="display-none"></div>

@{await Html.RenderPartialAsync("_EventListSearchForm", Model);}
@{await Html.RenderPartialAsync("_SearchByRecomendations", Model.UserInterses);}

<div class="flex-hcc">
    <div id="event-list"></div>
</div>

<div id="end-marker">
    <div id="ev-load-more" class="display-none">Загрузить еще</div>
    <div id="noTrespassingOuterBarG">
        <div id="noTrespassingFrontBarG" class="noTrespassingAnimationG">
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
            <div class="noTrespassingBarLineG"></div>
        </div>
    </div>
</div>

<div>
    @{ await Html.RenderPartialAsync("_SiteFooter"); }
</div>



