@{
    ViewData["Title"] = "Пользовательское соглашение";
    ViewData["Style"] = "Help.css";
    ViewData["Script"] = "Help.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-hss">
    <div class="h-left-menu">
        <div class="h-menu-holder">
            <div class="h-menu-unit ">
                <a href="/Help/Manual">Руководство</a>
            </div>
            <div class="h-menu-unit">
                <a href="/Help/FAQ">Вопросы</a>
            </div>
            <!--
    <div class="h-menu-unit">
        <a href="/Help/SupportMail">Техподдержка</a>
    </div>
        -->
            <div class="h-menu-unit h-menu-selected">
                <a href="/Help/Agreement">Соглашение</a>
            </div>
            <div class="h-menu-unit">
                <a href="/Help/Personal">О персональных данных</a>
            </div>
        </div>
    </div>

    <div class="h-right-body">
        <h3>Соглашение пользователя ресурса "NISIDI.RU"</h3>
        <p>1. Сфера действия</p>
        <p>
            1.1. Регистрируясь и используя функциональные возможности сайта НИСИДИ (https://nisidi.ru) (далее – Сайт), Вы подтверждаете полное согласие со всеми положениями настоящих Правил.
            В случае, если Вы не согласны с условиями, изложенными ниже,
            Вы должны отказаться от использования Сайта и его функциональных возможностей.
        </p>
        <p>
            1.2. Настоящие Правила разработаны в соответствии с действующим законодательством Российской Федерации и регулируют взаимоотношения между заинтересованным лицом
            (далее – Пользователем) и Администрацией сайта НИСИДИ (далее – Администрация).
        </p>

        <p>1.3. Настоящие Правила, опубликованные в сети Интернет по адресу https://nisidi.ru/Help/Agreement, в соответствии с положениями Гражданского кодекса РФ, являются публичной офертой, то есть предложением заключить соглашение с любым заинтересованным лицом на ниже обозначенных условиях. Пользователь подтверждает свое согласие со всеми изложенными в настоящих Правилах условиями. Акцептом, согласием Пользователя с условиями, определенными настоящими Правилами, считается факт регистрации Пользователя на Сайте. Условия, определенные настоящими Правилами, считаются принятыми с момента регистрации Пользователя на Сайте. Такие действия считаются конклюдентными и приравниваются к письменному заявлению лица о его согласии с настоящими Правилами. Условия настоящих Правил считаются принятыми Пользователем в момент подтверждения им своих действий и принятия условий, определенных настоящими Правилами путем нажатия клавиш «Я согласен», «Сохранить» или аналогичных по смыслу на web-интерфейсе Сайта.</p>
        <p>2. Термины и определения</p>
        <p>2.1. Для целей настоящих Правил используются следующие основные термины и определения:</p>
        <p>2.1.1. Сайт – сайт НИСИДИ (https://nisidi.ru) – платформа для организации мероприятий.</p>
        <p>2.1.2. Акцепт – комплекс действий Пользователя, выражающийся в совершении им действий, направленных на первичную регистрацию на Сайте и получении доступа в пользовательскую часть Сайта в целях использования функциональных возможностей Сайта.</p>
        <p>2.1.3. Услуги – услуги, оказываемые Администрацией Пользователю, выражающиеся в предоставлении Пользователю возможности пользования Сайтом, его функциональными возможностями, в обеспечении технической поддержки Пользователя при использовании Сайта.</p>
        <p>2.1.4. Пользователь – лицо, обладающее правоспособностью и дееспособностью, выразившее свое полное и безоговорочное согласие с условиями и положениями, изложенными в настоящих Правилах, прошедшее процедуру регистрации на Сайте и использующее функциональные возможности Сайта в соответствии с настоящими Правилами.</p>
        <p>2.1.5. Администрация – Петров Г.Н., являющееся правообладателем Сайта.</p>
        <p>2.1.6. Объекты продвижения – коммерческие, политические, благотворительные и иные некоммерческие организации, бренды, товары, работы, услуги, а также различные мероприятия.</p>
        <p>2.1.7. Контент – объекты, размещенные на Сайте, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и другие объекты и их подборки.</p>
        <p>3. Регулирование</p>
        <p>3.1. Настоящие Правила устанавливаются Администрацией самостоятельно, являются публичной офертой и могут быть приняты Пользователем только путем присоединения к ним в целом.</p>
        <p>3.2. Если отдельным соглашением между Администрацией и Пользователем установлены иные правила предоставления Услуг, чем те, которые предусмотрены настоящими Правилами, применяются правила отдельного соглашения.</p>
        <p>3.3. Пользователь не может переуступить свои права и обязанности при использовании функциональных возможностей Сайта.</p>
        <p>3.4. Взаимоотношения Администрации с Пользователем, возникающие при оказании Услуг, осуществляются на русском языке.</p>
        <p>3.5. Все права на Сайт в целом, права на использование сетевого адреса (доменного имени) принадлежат Администрации. Администрация предоставляет доступ к Сайту всем заинтересованным лицам, в соответствии с настоящими Правилами и законодательством Российской Федерации.</p>
        <p>3.6. Настоящие Правила устанавливают условия, в соответствии с которыми права на использование информации и результатов интеллектуальной деятельности (включая, но не ограничиваясь литературными, музыкальными, аудиовизуальными произведениями и фонограммами, произведениями графики и дизайна, фотографическими произведениями, программами для ЭВМ) в составе отдельных разделов Сайта могут принадлежать Пользователям и иным лицам, самостоятельно создавшим и (или) разместившим указанные объекты на Сайте без непосредственного участия Администрации.</p>
        
        <p>
            3.7. Письма, обращения, претензии и пожелания лиц к Администрации, в том числе связанные с вопросами функционирования Сайта, нарушениями прав и интересов третьих лиц при его использовании, а также запросы уполномоченных законодательством Российской Федерации лиц, могут быть направлены в адрес Администрации.
        </p>
        <p>
            3.6. Настоящие Правила устанавливают условия, в соответствии с которыми права на использование информации и результатов интеллектуальной деятельности (включая, но не ограничиваясь литературными, музыкальными, аудиовизуальными произведениями и фонограммами, произведениями графики и дизайна, фотографическими произведениями, программами для ЭВМ) в составе отдельных разделов Сайта могут принадлежать Пользователям и иным лицам, самостоятельно создавшим и (или) разместившим указанные объекты на Сайте без непосредственного участия Администрации.
        </p>
        <p>
            3.8. Пользователь ни при каких условиях и обстоятельствах не имеет права на использование фирменного наименования, товарных знаков, знаков отличия, доменных имен и иных признаков Администрации. Предоставление специального права может быть произведено только на основании подписанного Сторонами соответствующего соглашения.
        </p>
        <p>
            3.9. Администрация рекомендует Пользователям воздержаться от совершения действий при наличии сомнений в их законности.
        </p>
        <p>
            4. Регистрация на сайте
        </p>
        <p>
            4.1. Регистрация Пользователя на Сайте является бесплатной и добровольной. Пользователь подтверждает, что обладает всеми правами и полномочиями, необходимыми для исполнения обязанностей и пользования правами, что его действия не нарушают и не влекут за собой нарушения действующего законодательства РФ и (или) прав третьих лиц.
        </p>
        <p>
            4.2. Пользователь при регистрации на Сайте обязан предоставить Администрации необходимую достоверную и актуальную информацию для формирования персональной страницы Пользователя. Информация о Пользователе будет запрашиваться регистрационной формой Сайта при его регистрации. Пользователь представляет уникальный, индивидуальный логин (адрес электронной почты) для входа на Сайт, а также пароль доступа к Сайту. Регистрационная форма Сайта может запрашивать у Пользователя дополнительную информацию.
        </p>
        <p>
            4.3. Пользователь самостоятельно несет всю полноту ответственности за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации информации, предоставленной при регистрации, и ее чистоту от претензий третьих лиц.
        </p>
        <p>
            4.5. При регистрации на Сайте Пользователь подтверждает свое полное и безоговорочное согласие с положениями настоящих Правил и принимает на себя установленные права и обязанности, связанные с использованием и функционированием Сайта.
        </p>
        <p>
            4.6. После прохождения Пользователем регистрации на Сайте Администрация принимает на себя права и обязанности перед Пользователем, указанные в настоящих Правилах.
        </p>
        <p>
            4.7. Обработка персональных данных Пользователя, предоставленных им, осуществляется в соответствии с законодательством Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю Услуг. Администрация обязуется обеспечить защиту персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Предоставление и обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации.
        </p>
        <p>
            4.8. Пользователь самостоятельно несет риски, связанные с передачей логина и пароля третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их защиты и хранения. Логин и пароль Пользователя являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Если не доказано иное, любые действия, совершенные с использованием логина и пароля Пользователя, считаются совершенными соответствующим им самостоятельно. В случае несанкционированного доступа к логину и паролю и (или) персональной странице Пользователя, или раскрытия логина и пароля Пользователь обязан незамедлительно сообщить об этом Администрации в установленном порядке.
        </p>
        <p>
            4.9. Правообладателем информации, размещенной на персональной странице Пользователя, является сам Пользователь, в связи с чем он несет всю полноту ответственности за наполняемость персональной страницы и использование размещенных на ней сведений, за исключением изъятий и ограничений, установленных настоящими Правилами и действующим законодательством Российской Федерации.
        </p>
        <p>
            5. Обработка персональных данных Пользователей
        </p>
        <p>
            5.1. Пользователь принимает решение о предоставлении своих персональных данных и дает согласие на их обработку своей волей и в своем интересе, за исключением случаев, предусмотренных ч. 2 ст. 9 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных».
        </p>
        <p>
            5.2. Пользователь несет ответственность за предоставление персональных данных иного лица.
        </p>
        <p>
            5.3. Пользователь соглашается с тем, что Администрация имеет право на хранение и обработку, в том числе и автоматизированную, любой информации, относящейся к персональным данным Пользователя в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных», включая сбор, систематизацию, накопление, хранение, уточнение, использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных, предоставленных Пользователем.
        </p>
        <p>
            5.4. Обработка персональных данных Пользователя производится путем смешанной обработки персональных данных с передачей и без передачи по сети Интернет.
        </p>
        <p>
            5.5. Администрация обязуется обеспечить конфиденциальность и безопасность при обработке персональных данных Пользователя.
        </p>
        <p>
            5.6. Пользователь (в соответствие с ч. 3 ст. 6 Федерального закона от 27.07.2006 № 152-ФЗ) дает свое согласие на поручение Администрацией сайта обработки персональных данных Пользователя Администрацией сайта с целью проведения емейл-маркетинговой кампании.
        </p>
        <p>
            5.7. В случае отзыва Пользователем согласия на обработку персональных данных Администрация удаляет персональные данные Пользователя и не использует их в дальнейшем.
        </p>
        <p>
            6. Права и обязанности
        </p>
        <p>
            6.1. Администрация обязана:
        </p>
        <p>
            6.1.1. Оказывать Пользователю Услуги в порядке и на условиях, оговоренных в настоящих Правилах.
        </p>
        <p>
            6.2. Администрация вправе:
        </p>
        <p>
            6.2.1. Приостановить оказание Услуг при выявлении нарушений, допущенных Пользователем при регистрации на Сайте или при использовании его функциональных возможностей, а также в целях проведения необходимой проверки на период ее проведения.
        </p>
        <p>
            6.2.2. Проводить выборку логотипов (фотографий), размещаемых на любой странице сайта. Администрация сайта вправе потребовать пользователя, который размещает информацию, заменить логотип (фотографию) без объяснения причин. Если пользователь не выполняет данные требования. Администрация сайта вправе отказать в размещении логотипа (фотографии) на любой странице сайта без объяснения причины, и соответственно отказать в размещении самой страницы на сайте.
        </p>
        <p>
            6.2.3. Изменять (модерировать) или удалять любой Контент, а также приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов или сервисов Сайта с предварительным уведомлением или без такового.
        </p>
        <p>
            6.2.4. Вносить изменения в условия настоящих Правил.
        </p>
        <p>
            6.2.5. Приостанавливать предоставление Услуг на период проведения необходимых ремонтных и профилактических работ.
        </p>
        <p>
            6.3. Пользователь обязан:
        </p>
        <p>
            6.3.1. Самостоятельно знакомиться со сведениями, размещенными на Сайте, сведениями об Услугах и условиях обслуживания, в том числе и о вносимых изменениях в настоящие Правила.
        </p>
        <p>
            6.3.2. Соблюдать требования действующего законодательства Российской Федерации, настоящих Правил и иных документов Администрации, распространяющих свое действие на Пользователей.
        </p>
        <p>
            6.3.3. Самостоятельно обеспечить режим конфиденциальности логина и пароля и принимать меры по ограничению к ним доступа третьих лиц. Администрация не несет ответственности за убытки и вред, причиненные Пользователю и возникшие в результате известности логина и пароля третьим лицам.
        </p>
        <p>
            6.3.4. Не производить какие-либо несанкционированные действия, в том числе направленные на получение несанкционированного доступа к персональным данным других лиц, к базам данных Администрации, к программному обеспечению Администрации, модифицирование которого может создать угрозу нормального функционирования Сайта, не совершать иных действий, которые могут нанести вред Администрации, другим Пользователям и (или) третьим лицам.
        </p>
        <p>
            6.3.5. Не злоупотреблять правами, предоставленными настоящими Правилами, в том числе не использовать Услуги для совершения противоправных действий.
        </p>
        <p>
            6.3.6. Предоставлять достоверные, полные и актуальные данные, следить за их актуализацией.
        </p>
        <p>
            6.3.7. Не размещать на персональной странице данные, информацию и объекты (включая ссылки на них), которые могут нарушать права и интересы других лиц и (или) повлечь в будущем их нарушение.
        </p>
        <p>
            6.3.8. Обеспечивать законность и правомерность использования и (или) размещения данных, информации и объектов (включая, но не ограничиваясь изображениями других лиц, чужими текстами различного содержания, аудиозаписями и видеофильмами).
        </p>
        <p>
            6.3.9. Самостоятельно нести ответственность в случае допущения незаконности и неправомерности использования и (или) размещения данных, информации и объектов (включая, но не ограничиваясь изображениями других лиц, чужими текстами различного содержания, аудиозаписями и видеофильмами).
        </p>
        <p>
            6.3.10. Обеспечивать конфиденциальность и не предоставлять другим Пользователям и третьим лицам персональные данные, ставшие ему известными в результате взаимодействия с другими Пользователями и иного использования Сайта, а также информацию о частной жизни других Пользователей и третьих лиц без получения соответствующего предварительного разрешения указанных Пользователей и лиц.
        </p>
        <p>
            6.4. Пользователю запрещается:
        </p>
        <p>
            6.4.1. Регистрироваться на Сайте под чужим (вымышленным) именем.
        </p>
        <p>
            6.4.2. Предоставлять иным Пользователям недостоверные сведения относительно своего имени, использовать логин и пароль другого зарегистрированного Пользователя.
        </p>
        <p>
            6.4.3. Искажать собственные персональные данные, вводить в заблуждение относительно своих отношений с другими лицами.
        </p>
        <p>
            6.4.4. Совершать любые из возможных действий (в том числе, но не ограничиваясь, загружать, хранить, использовать, публиковать, распространять и предоставлять доступ) с информацией, которая нарушает положения действующего законодательства Российской Федерации и (или) соответствует хотя бы одному из ниже приведенных признаков:
            <ul>
                <li>
                    содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;
                </li>
                <li>
                    нарушает права несовершеннолетних лиц;
                </li>
                <li>
                    является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;
                </li>
                <li>
                    содержит сцены бесчеловечного обращения с животными;
                </li>
                <li>
                    содержит описание средств и способов суицида, любое подстрекательство к его совершению;
                </li>
                <li>
                    пропагандирует и (или) способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;
                </li>
                <li>
                    содержит экстремистские материалы;
                </li>
                <li>
                    пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;
                </li>
                <li>
                    содержит информацию ограниченного доступа, включая, но не ограничиваясь государственной и коммерческой тайной, информацией о частной жизни третьих лиц;
                </li>
                <li>
                    содержит рекламу или описывает привлекательность употребления наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;
                </li>
                <li>
                    носит мошеннический, клеветнический характер;
                </li>
                <li>
                    также нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской Федерации.
                </li>
            </ul>
        </p><p>
            6.4.5. В нарушение требований действующего законодательства Российской Федерации незаконно использовать (в том числе, но не ограничиваясь, загружать, хранить, публиковать, использовать, распространять и предоставлять доступ) интеллектуальную собственность Пользователей и третьих лиц.
        </p><p>
            6.4.6. Осуществлять массовые рассылки сообщений различного характера и содержания, без получения на то в установленном законодательством Российской Федерации порядке согласия Пользователей.
        </p><p>
            6.4.7. Использовать программное обеспечение и осуществлять иные действия, направленные на нарушение нормального функционирования Сайта и его сервисов или персональных страниц Пользователей.
        </p><p>
            6.4.8. В нарушение требований действующего законодательства Российской Федерации незаконно использовать (в том числе, но не ограничиваясь, загружать, хранить, публиковать, использовать, распространять и предоставлять доступ) вирусы и другие вредоносные программы.
        </p><p>
            6.4.9. Использовать без соответствующего письменного разрешения Администрации автоматизированные программы для сбора информации на Сайте и (или) взаимодействия с Сайтом и его сервисами.
        </p><p>
            6.4.10. Любым из возможных способов совершать действия, направленные на получение доступа к логину и паролю другого Пользователя.
        </p><p>
            6.4.11. В нарушение требований действующего законодательства Российской Федерации осуществлять незаконный сбор и обработку персональных данных других лиц.
        </p><p>
            6.4.12. Совершать действия, направленные на получение доступа к каким-либо Услугам, иным способом, кроме как через интерфейс, предоставленный Администрацией.
        </p><p>
            6.4.13. Воспроизводить, дублировать, копировать, продавать, осуществлять иные операции с Услугами для каких-либо целей, прямо не установленных настоящими Правилами.
        </p><p>
            6.4.14. Размещать коммерческую и политическую рекламу вне специальных разделов Сайта. Платные услуги и сервисы предоставляются Пользователю Администрацией на основании отдельного соглашения, заключаемого между ними.
        </p><p>
            6.4.15. Размещать информацию, которая не соответствует внутренней политике Администрации, является нежелательной, не соответствует целям создания Сайта, ущемляет интересы Пользователей и (или) третьих лиц или по другим причинам является нежелательной для размещения на Сайте.
        </p><p>
            6.5. Пользователь несет персональную ответственность за любую информацию, которую размещает на Сайте, сообщает другим Пользователям и (или) третьим лицам, а также за любые взаимодействия с другими Пользователями и (или) третьими лицами, осуществляемые на свой риск.
        </p><p>
            Пользователь подтверждает, что имеет все надлежащие сертификаты, лицензии, декларации соответствия и права на использование: имен и портретов (изображений) и фотографий лиц и предметов; товарных знаков и знаков обслуживания, материалов, защищенных авторским правом, правом собственности или иным охраняемым законом правом; свидетельств, лицензий, сертификатов, деклараций соответствия. Пользователь гарантирует, что используемая им информация не является ненадлежащей, клеветнической, неэтичной, а также не нарушает неприкосновенность частной жизни, личной и семейной тайны, других охраняемых законом прав и интересов третьих лиц, не противоречит нравственным началам и общепризнанным общественным ценностям, а также содержание информационных материалов и страниц, на которые содержатся ссылки информации Пользователя, не нарушает прав и интересов третьих лиц, а также соответствуют требованиям, предъявляемым действующим законодательством Российской Федерации.
        </p><p>
            6.6. В случае несогласия Пользователя с настоящими Правилами или их обновлениями Пользователь обязан отказаться от использования Сайта и оказываемых Услуг, проинформировав об этом Администрацию в установленном порядке.
        </p><p>
            7. Права на интеллектуальную собственность
        </p><p>
            7.1. Контент является объектом исключительных прав Администрации, Пользователей и других правообладателей, все права на эти объекты защищены.
        </p><p>
            7.2. Контент не может быть скопирован (воспроизведен), переработан, распространен, отображен во фрейме, опубликован, скачан, передан, продан или иным способом использован целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование Контента любым лицом или такое использование прямо установлено действующим законодательством Российской Федерации.
        </p><p>
            7.4. Использование Пользователем Контента, доступ к которому получен исключительно для личного некоммерческого использования, допускается при условии сохранения всех знаков авторств или других уведомлений об авторстве, сохранения имени автора в неизменном виде, сохранении произведения в неизменном виде.
        </p><p>
            7.5. Кроме своего собственного Контента, Пользователь не вправе загружать или иным образом доводить до всеобщего сведения Контент других сайтов, баз данных и прочие результаты интеллектуальной деятельности при отсутствии явным образом выраженного согласия правообладателя на такие действия.
        </p><p>
            7.6. Любое использование Сайта или Контента, кроме разрешенного в настоящих Правилах и действующим законодательством Российской Федерации или в случае явно выраженного согласия правообладателя на такое использование, без предварительного письменного разрешения правообладателя категорически запрещено.
        </p><p>
            7.7. Пользователь несет персональную ответственность за любой Контент или иную информацию, которую он использует, загружает или иным образом доводит до всеобщего сведения на Сайте и (или) с его помощью.
        </p><p>
            7.8. Пользователь не имеет права загружать, передавать или публиковать Контент на Сайте, если он не обладает соответствующими правами на совершение таких действий, которые приобретены или переданы ему в соответствии с законодательством Российской Федерации.
        </p><p>
            7.9. Администрация вправе, но не обязана, знакомиться с информацией, содержащейся на Сайте, на наличие запрещенного Контента или загруженного Контента без получения соответствующего разрешения со стороны третьих лиц и может удалять или перемещать (без предупреждения) любой Контент или Пользователей по своему усмотрению, по любой причине или без указания причины, включая без всяких ограничений перемещение или удаление Контента, который, по мнению Администрации, нарушает настоящие Правила, законодательство Российской Федерации и (или) может нарушать права, причинить вред или угрожать безопасности других Пользователей или третьих лиц. В случае использования Пользователем запрещенного Контента или использование Контента без предварительного полученного разрешения со стороны третьих лиц, в том числе при нарушении Пользователем авторских и смежных прав третьих лиц, Администрация ответственности не несет.
        </p><p>
            7.10. Пользователь, размещая на Сайте Контент, предоставляет Администрации право делать копии своего Контента с целью упорядочения и облегчения публикации и хранения пользовательского Контента на Сайте. Размещая свой Контент на Сайте, Пользователь тем самым предоставляет Администрации неисключительное право на безвозмездной основе использовать его путем копирования, публичного исполнения, воспроизведения, переработки, перевода и распространения для целей Сайта или в связи с ними, в том числе для его популяризации. Для указанных целей Администрация может изготавливать производные произведения или вставлять Контент Пользователя в качестве составных частей в соответствующие сборники, совершать иные действия, служащие достижению указанных целей, а также предоставлять третьим лицам право на публикацию Контента (доведения до всеобщего сведения) в сети Интернет.
        </p><p>
            7.11. Сайт содержит (или может содержать) ссылки на другие сайты в сети Интернет так же, как и статьи, фотографии, иллюстрации, графические изображения, музыку, звуки, видео, информацию, приложения, программы и другой Контент, принадлежащий или исходящий от третьих лиц (Контент третьих лиц), являющийся результатом интеллектуальной деятельности и охраняемых в соответствии с законодательством Российской Федерации. Указанные третьи лица и их Контент не проверяются Администрацией на соответствие каким-либо требованиям (достоверности, полноты, добросовестности). Администрация не несет ответственность за любую информацию, размещенную на сайтах третьих лиц, к которым Пользователь получает доступ через Сайт или через Контент третьих лиц, включая, в том числе, любые мнения или утверждения, выраженные на сайтах третьих лиц или в их Контенте.
        </p><p>
            7.12. Размещенные на Сайте ссылки или руководства по скачиванию файлов и (или) установке программ третьих лиц не означают поддержки или одобрения этих действий со стороны Администрации.
        </p><p>
            7.13. Ссылки на сайты, продукты, работы, услуги, любую иную информацию и сведения коммерческого или некоммерческого характера, размещенные на Сайте, не являются одобрением или рекомендацией данных продуктов Администрацией.
        </p><p>
            7.14. Переход с Сайта к сайтам третьих лиц или их использование, установка программного обеспечения третьих лиц производится Пользователем самостоятельно и на свой риск.
        </p><p>
            8. Функционирование сайта. Ответственность
        </p><p>
            8.1. Пользователи самостоятельно несут ответственность за совершаемые им действия в связи с использованием Сайта и его функциональных возможностей. Нарушение положений настоящих Правил и действующего законодательства Российской Федерации влечет за собой гражданско-правовую, административную и уголовную ответственность.
        </p><p>
            8.2. Администрация предоставляет техническую возможность использования Сайта Пользователями и не участвует в формировании содержания персональных страниц Пользователей, не контролирует и не несет ответственности за действия или бездействие любых лиц в отношении использования Сайта или формирования и использования содержания персональных страниц Пользователей.
        </p><p>
            8.3. В информационной системе Сайта и его программном обеспечении отсутствуют технические решения, осуществляющие автоматическую цензуру и контроль действий и информационных отношений Пользователей по использованию Сайта.
        </p><p>
            8.4. Администрация сохраняет за собой право в любое время изменять оформление Сайта, его содержание, список сервисов, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Сайте, любые серверные приложения в любое время с предварительным уведомлением или без такового.
        </p><p>
            8.5. Администрация не занимается предварительной модерацией или цензурой информации Пользователей и предпринимает действия по защите прав и интересов лиц и обеспечению соблюдения требований законодательства Российской Федерации только после обращения заинтересованного лица к Администрации в установленном порядке.
        </p><p>
            8.6. Администрация не несет ответственности за нарушение Пользователем настоящих Правил и оставляет за собой право по своему усмотрению, а также при получении информации от других лиц о нарушении Пользователем настоящих Правил, изменять (модерировать) или удалять любую публикуемую Пользователем информацию, нарушающую запреты, установленные настоящими Правилами, приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов или сервисов Сайта в любое время по любой причине или без объяснения причин, с предварительным уведомлением или без такового, не отвечая за любой вред, который может быть причинен любым лицам таким действием. Администрация закрепляет за собой право удалить персональную страницу Пользователя и (или) приостановить, ограничить или прекратить доступ Пользователя к любому из сервисов Сайта, если Администрация обнаружит, что Пользователь представляет угрозу для Сайта и (или) иных Пользователей. Администрация Сайта не несет ответственности за осуществленное, в соответствии с настоящими Правилами, временное блокирование или удаление информации или удаление персональной страницы Пользователя.
        </p><p>
            8.7. Удаление персональной страницы Пользователя означает автоматическое удаление всей информации, размещенной на ней, а также всей информации Пользователя, введенной при регистрации на Сайте. После удаления персональной страницы Пользователь теряет права доступа к Сайту.
        </p><p>
            8.8. Администрация обеспечивает функционирование и работоспособность Сайта и обязуется оперативно восстанавливать его работоспособность в случае технических сбоев и перерывов. Администрация не несет ответственности за временные сбои и перерывы в работе Сайта и вызванную ими потерю информации. Администрация не несет ответственности за любой ущерб, причиненный компьютеру Пользователя или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный со скачиванием материалов с Сайта или прохождением по ссылкам, размещенным на Сайте.
        </p><p>
            8.9. Администрация имеет право распоряжаться статистической информацией, связанной с функционированием Сайта, а также информацией Пользователей для обеспечения адресного показа рекламной информации различным аудиториям Пользователей. Для целей организации функционирования и технической поддержки Сайта и исполнения настоящих Правил Администрация имеет техническую возможность доступа к персональным страницам Пользователей, которую реализует только в случаях, установленных настоящими Правилами.
        </p><p>
            8.10. Администрация имеет право направлять Пользователю информацию о развитии Сайта и его сервисов, а также рекламировать собственную деятельность и услуги.
        </p><p>
            8.11. Сайт и его сервисы, включая все скрипты, приложения, Контент и оформление Сайта, поставляются в неизменном виде. Администрация не гарантирует того, что Сайт или его сервисы могут подходить или не подходить для конкретных целей использования. Администрация не гарантирует и не обещает никаких специфических результатов от использования Сайта и (или) его сервисов.
        </p><p>
            8.12. Пользователь обязан соблюдать меры предосторожности в скачивании с Сайта или по размещенным на нем ссылкам и использовании любых файлов, в том числе программного обеспечения. Администрация настоятельно рекомендует использовать только лицензионное, в том числе антивирусное программное обеспечение.
        </p><p>
            8.13. Пользователь соглашается с тем, что скачивает с Сайта или с его помощью любые материалы на свой собственный риск и несет ответственность за возможные последствия использования указанных материалов, в том числе за ущерб, который это может причинить компьютеру Пользователя или третьим лицам, за потерю данных или любой другой вред.
        </p><p>
            8.14. Администрация и (или) ее представители не несут ответственности перед Пользователем и (или) перед любыми третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием Сайта, содержимого Сайта или иных материалов, к которым любое лицо получило доступ с помощью Сайта, даже если Администрация предупреждала или указывала на возможность такого вреда.
        </p><p>
            9. Срок действия Правил и внесение в них изменений
        </p><p>
            9.1. Настоящие Правила, как предложение, направленное неопределенному кругу лиц, вступают в силу с момента опубликования на Сайте и действуют до момента отзыва оферты Администрацией.
        </p><p>
            9.2. Администрация оставляет за собой право внести изменения в условия настоящих Правил и (или) отозвать Правила в любой момент по своему усмотрению. Вносимые изменения вступают в силу с момента размещения на Сайте таких изменений. Если Администрация не получит в течение 5 (пяти) календарных дней отказ Пользователя от принятия таких изменений и Пользователь продолжит пользоваться Услугами на новых условиях, изменения, вносимые в Правила, будут считаться безоговорочно принятыми Пользователем.
        </p><p>
            9.3. Неиспользование Пользователем Сайта в течение 6 (шести) месяцев с момента последнего использования является безусловным подтверждением Пользователем своего намерения прекратить пользование Сайтом. При наступлении ранее указанных обстоятельств Администрация имеет право удалить персональную страницу Пользователя на Сайте, прекратив оказание Услуг.
        </p><p>
            10. Гарантии
        </p><p>
            10.1. В течение срока действия настоящих Правил Администрация предпримет все усилия для устранения каких-либо сбоев и ошибок в случае их возникновения при оказании Услуг в максимально короткие сроки.
        </p><p>
            10.2. Принимая условия настоящей оферты путем акцепта оферты, Пользователь гарантирует Администрации:
        </p><p>
            10.2.1. Достоверность данных, указанных при регистрации в качестве Пользователя.
        </p><p>
            10.2.2. Ознакомление и безоговорочное согласие с условиями и предметом оферты.
        </p><p>
            10.2.3. Полное понимание значения и последствий своих действий во исполнение настоящих Правил.
        </p><p>
            10.2.4. Использование Услуг методами и способами, которые не повлекут за собой нарушений каких-либо прав Администрации, третьих лиц и действующего законодательства Российской Федерации.
        </p><p>
            11. Порядок разрешения споров
        </p><p>
            11.1. Все споры и разногласия, возникшие при соблюдении настоящих Правил и пользовании Сайтом, разрешаются путем переговоров.
        </p><p>
            11.2. В случае невозможности разрешения споров и разногласий путем переговоров все споры, разногласия и требования подлежат разрешению в соответствии с действующим законодательством Российской Федерации.
        </p><p>
            12. Заключительные положения
        </p><p>
            12.1. Во всем, что не предусмотрено настоящими Правилами, стороны руководствуются действующим законодательством РФ.
        </p><p>
            12.2. Настоящие Правила составляют соглашение между Пользователем и Администрацией Сайта относительно порядка использования Сайта и его сервисов и заменяют собой все предыдущие соглашения между Пользователем и Администрацией.
        </p>
    </div>
</div>
