@{
    ViewData["Title"] = "Справка";
    ViewData["Style"] = "Help.css";
    ViewData["Script"] = "Help.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-hss">
    <div class="h-left-menu">
        <div class="h-menu-holder">
            <div class="h-menu-unit h-menu-selected">
                Руководство
                <a href="#registration" class="h-menu-item">Регистрация</a>
                <a href="#events" class="h-menu-item">События</a>
                <a href="#eventscreate" class="h-menu-item">Создание событий</a>
                <a href="#eventsearch" class="h-menu-item">Поиск событий</a>
                <a href="#tegs" class="h-menu-item">О тегах</a>

            </div>
            <div class="h-menu-unit">
                <a href="/Help/FAQ">Вопросы</a>
            </div>
            <div class="h-menu-unit">
                <a href="/Help/SupportMail">Техподдержка</a>
            </div>
            <div class="h-menu-unit">
                <a href="/Help/Agreement">Соглашение</a>
            </div>
        </div>        
    </div>

    <div class="h-right-body">
        @{ 
            ViewData["show"] = "true";
        }
        @{await Html.RenderPartialAsync("~/Views/Banner/Hello.cshtml");
        await Html.RenderPartialAsync("~/Views/Banner/Friend.cshtml");
        await Html.RenderPartialAsync("~/Views/Banner/MyPage.cshtml");}
        <a name="registration">
            <hr>
        </a>
        <h3>Регистрация</h3>
        <p>Для полноценного использования данного ресурса мы рекомендуем вам пройти простую процедуру регистрации. </p>
        <p>Регистрация позволит Вам:</p>
        <ul>
            <li>Настроить параметры поиска событий по-умолчанию</li>
            <li>Отмечаться в качестве участинка на событиях</li>
            <li>Добавлять других пользователей в друзья и просматривать их страницы</li>
            <li>Обмениваться сообщениями как в чатах событий, так и личными сообщениями</li>
        </ul>
        <p>Для реистрации на сайте перейдите по ссылке:</p>
        <img src="~/resourses/helpimages/reg.jpg" alt="регистрация" />
        <p>Заполните все необходимые поля и поставьте галочку напротив Согласия об обработке персональных данных</p>
        <p>Также имейте ввиду что:</p>
        <ul>
            <li>Адрес электронной почты должен быть настоящим, т.к. на него будет отправлено писмо для подтверждения</li>
            <li>Придумывайте достаточно надежный пароль, который содержит ПРОПИСНЫЕ и строчные буквы, цифры и разнообразные знаки</li>
            <li>Пароль должен быть не короче 6 символов</li>
            <li>Ваше имя - это тот псевдоним, который будет виден другим пользователям</li>
            <li>Ваш город. По названию этого города будет происходить выборка событий для главной страницы. Будте внимательны, потому-что если название будет введено с ошибкой, то события не будут отображаться. Регистр значения не имеет. Все небуквенные символы будут удалены(кроме тире)</li>
            <li>Ваши интересы - это те теги, по которым будет происходить выборка. Подробней в разделе <a href="#eventsearch">ПОИСК СОБЫИЙ</a></li>
            <li>Номер телефона и информация о Вас не являются обязательными</li>
            <li>Согласие на обработку персональных данных обязательно</li>
        </ul>
        <p>После нажатия на кнопук "Регистрация" на указанный адрес электронной почты будет отправлено письмо со ссылкой для завершения регистрации. Чтобы Завершить регистрацию Просто перейдите по этой ссылке</p>
        <p>Вы будете перенаправлены в окно авторизации, где необходиимо ввести адрес электронной почты и пароль. </p>
        <p>Если вы забыли пароль, то нажмите на кнопку "Забыли пароль" и в полее ввода введите адрес электронной почты Вашей учетной записи. На этот адрес будет отправленна ссылка, перейдя по которой вы можете ввести новый пароль для Вашей учетной записи.</p>

        <a name="events">
            <hr>
        </a>
        <h3>События</h3>
        <p>Событие - это выложенное каким-либо ползователем описание мероприятия из рельного мира или событие on-line формата.</p>
        <p>Событие содержит основную информацию и дополнительные сведения о активности пользователей относительно этого события.</p>
        <ul>
            <li>Назвние и описание</li>
            <li>Дату и время проведения</li>
            <li>Место проведения</li>
            <li>Теги события</li>
            <li>Блок активности</li>
            <li>Актуальные хронологические изменения событии</li>
            <li>Последние сообщения из чата события</li>
            <li>Участники - пользователи, которые поставили отметку "ПОЙДУ"</li>
        </ul>




        <a name="eventscreate">
            <hr>
        </a>
        <h3>Создание событий</h3>
        <p>
            Для того, чтобы добавить новое событие нажмите на "ДОБАВИТЬ СОБЫТИЕ" на вкладке "СОБЫТИЯ"
        </p>
        <img src="~/resourses/helpimages/newevent.jpg" alt="Alternate Text" />
        <p>После этого вы будуте перенаправлены на страницу, где необходимо заполнить все поля. Заголовок, город и место являются обязательными.</p>
        <p>Тег - это слово, которое характеризует данное событие. Для публичных событий по тегам производится показ событий для заинтересованных пользователей. Подробней в разделе ф <a href="#tegs">О ТЕГАХ</a></p>
        <p>В поле ввода "Теги события" слова вводятся через разделители. Разделителями являются . / : * + - @@ ? ! = < > </p>
        <p>Таким образом, для того чтобы соеденить несколько слов как единый тег необходимо использовать символ подчеркивания "_".</p>
        <p>Все события делятся на две категории: публичные и приватные</p>
        <p>Приватные события - это события, которые не отображаются в поиске. Пригдасить на это событие можно отправив приглашение или ссылку другому пользователю.</p>
        <p>Публичные события - это те события, которые отображаются в поиске. Они выдны всем пользователям. Изменить статус события с приватного на публичное можно на вкладке "личный кабинет" на странице профиля</p>
        <img src="~/resourses/helpimages/lk.jpg" alt="lk" />

        <a name="eventsearch">
            <hr>
        </a>
        <h3>Поиск событий</h3>
        <p>Центральным элементом данного сервиса является система рекомендаций событий. </p>
        <p>На странице события при входе на сайт отображается стартовая выборка событий. Она формируется по параметрам, которые указаны в верхней панели.</p>
        <img class="width100 maxwidth300" src="~/resourses/helpimages/params.jpg" alt="параметры" />
        <p>Для незарегестрированных пользователей это будет временной интервал и город Москва. Для зарегестрированных временной интервал, город указанный в профиле и список тегов.</p>
        <p>Для того чтобы изменить параметры поиска можно воспользоваться страницей "ПОИСК", указав интересующую дату, город, теги и часть наименования события. Либо изменить сведения профиля на вкладке "МОЯ СТРАНИЦА".</p>

        <a name="tegs">
            <hr>
        </a>
        <h3>О тегах</h3>
        <p>
            Теги характеризуют события таким образом, чтобы те отображались в выборках пользователей. Этот инструмент позволяет привлечь внимание к событию со стороны пользователей
            которые указали тот же тег в качестве своего интереса. Таким образом Вы можете быть уверены, что Ваша аудиторя увидит событие.
        </p>

        <p>Тег - это слово или несколько слов объединенных символами объединителями.</p>
        <p>Теги события - это набор слов, которые характеризуют содержание события. Например тег "ВЫСТАВКА" может характеризовать событие, которое проходит в формате выставки, а набор тегов "ВЫСТАВКА ШИШКИН" характеризует выставку, на которой будут произведения этого художника.</p>
        <p>
            Все теги вводятся одной строкой в соответствующем поле. При сохранении строка будет разбита на отдельные слова, причем разделителями будут следующие символы:
        </p>
        <p>пробел . / : * + - @@ ? ! = < > ) ( </p>
        <p>Остальные символы будут символами объединителями.</p>
        <p>Но все таки мы рекомендуем Вам в качестве объеденителя использовать исмвол подчеркивания '_'</p>
        <p>Все символы в тегах будут преобразованы к СТРОЧНЫМ</p>
        <p>Несколько примеров:</p>
        <p>Строка "это некоторый пример"</p>
        <p>будет разбита на 3 тега: "это", "некоторый", "пример"</p>

        <p>Строка "это_некоторый&пример"</p>
        <p>будет разбита на тег: "это_некоторый&пример"</p>

        <p>Строка "это_некоторый пример"</p>
        <p>будет разбита на 2 тега: "это_некоторый", "пример"</p>

        <p>Строка "это!! ?? >>> @@некоторый!!! пример:)))"</p>
        <p>будет разбита на 3 тега: "это", "некоторый", "пример"</p>

        <p>При выборе по тегам учитывается полное совподение. То есть событие с тегом СОБЫТИЕ не будет показано в результатах для пользователя с интересом СОБЫТИЯ.</p>

    </div>
</div>



