@{
    ViewData["Title"] = "Справка";
    ViewData["Style"] = "Help.css";
    ViewData["Script"] = "Help.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-hss">
    <div class="h-left-menu">
        <div class="h-menu-holder">
            <div class="h-menu-unit h-menu-selected">
                Руководство
                <a href="#whatis" class="h-menu-item">Что такое NISIDI</a>
                <a href="#registration" class="h-menu-item">Регистрация</a>
                <a href="#events" class="h-menu-item">События</a>
                <a href="#eventscreate" class="h-menu-item">Создание событий</a>
                <a href="#eventsearch" class="h-menu-item">Поиск событий</a>
                <a href="#tegs" class="h-menu-item">О тегах</a>

            </div>
            <div class="h-menu-unit">
                <a href="/Help/FAQ">Вопросы</a>
            </div>
            <!--
    <div class="h-menu-unit">
        <a href="/Help/SupportMail">Техподдержка</a>
    </div>-->
            <div class="h-menu-unit">
                <a href="/Help/Agreement">Соглашение</a>
            </div>
            <div class="h-menu-unit ">
                <a href="/Help/Personal">О персональных данных</a>
            </div>
        </div>        
    </div>

    <div class="h-right-body">
        @{
            ViewData["show"] = "true";
        }
        @{await Html.RenderPartialAsync("~/Views/Banner/Hello.cshtml");}

        <a name="whatis">
            <hr>
        </a>
        <h3>Что такое NISIDI</h3>
        <p>NISIDI - это сервис, который помогает пользователям находить любую активность на определенной локации. И помогает организаторам событий привлекать на свои мероприятия посетителей, которые в этом заинтересованы.</p>
        <p>Здесь любой может организовать событие любого масштаба: от вечера встречи до концерта звезды, от велопробега до выставки, от посиделок с друзьями до презентаций суперкаров. </p>
        <p>Благодаря строгим условиям выборки и фильтрации пользователи будут видеть только те события, в которых они заинтересованы. События, которые не имеют совпадающих тегов с тегами интересов пользователя показаны не будет. Другими словами пользователь увидит только то, что ему действительно интересно, а организатор события будет уверен что карточка его события будет показана только тем пользователям, которые сами указали такие же интересы.</p>
        <p>Каждое событие имеет удобную историю изменений, благодаря чему ты всегда будешь в курсе актуальных изменений. Также есть личные и групповые чаты к событиям, где можно общаться с другими пользователями.</p>

        <a name="registration">
            <hr>
        </a>
        <h3>Регистрация</h3>
        <p>Для полноценного использования сервиса рекомендуем пройти простую процедуру регистрации. </p>
        <p>Регистрация позволит:</p>
        <ul>
            <li>Настроить параметры поиска событий по-умолчанию;</li>
            <li>Отмечаться в качестве участника на событиях;</li>
            <li>Добавлять других пользователей в друзья и просматривать их страницы;</li>
            <li>Обмениваться сообщениями как в чатах событий, так и личными сообщениями.</li>
        </ul>
        <p>Для регистрации на сайте перейди по ссылке:</p>
        <a href="/Account/Register"><img src="~/resourses/helpimages/reg.jpg" alt="регистрация" /></a>
        <p>Заполни все необходимые поля и поставь галочку напротив Согласия об обработке персональных данных</p>
        <p>Также имей в виду, что:</p>
        <ul>
            <li>Адрес электронной почты должен быть настоящим, т.к. на него будет отправлено письмо для подтверждения</li>
            <li>Придумай достаточно надежный пароль, который содержит ПРОПИСНЫЕ и строчные буквы, цифры и разнообразные знаки</li>
            <li>Пароль должен быть не короче 6 символов</li>
            <li>Имя - это тот псевдоним, который будет виден другим пользователям</li>
            <li>Город. По названию этого города будет происходить выборка событий для главной страницы. Если название будет введено с ошибкой, то события не будут отображаться. Регистр значения не имеет. Все небуквенные символы будут удалены (кроме тире)</li>
            <li>Интересы - это те теги, по которым будет происходить выборка. Подробнее в разделе <a href="#eventsearch">ПОИСК</a></li>
            <li>Номер телефона и личная информация  не являются обязательными</li>
            <li>Согласие на обработку персональных данных обязательно</li>
        </ul>
        <p>После нажатия на кнопку "Регистрация" на указанный адрес электронной почты будет отправлено письмо со ссылкой для завершения регистрации. Чтобы Завершить регистрацию, просто перейди по этой ссылке.</p>
        <p>Затем произойдет переход в окно авторизации, где необходиимо ввести адрес электронной почты и пароль.</p>
        <p>Для восстановления пароля нажми на кнопку "Забыли пароль" и в поле ввода введи адрес электронной почты учетной записи. На этот адрес будет отправлена ссылка, перейдя по которой, можно ввести новый пароль для учетной записи.</p>

        <a name="events">
            <hr>
        </a>
        <h3>События</h3>
        <p>Событие - это выложенное каким-либо пользователем описание мероприятия из реального мира или on-line формата.</p>
        <p>Событие содержит основную информацию и дополнительные сведения об активности пользователей.</p>
        <ul>
            <li>Название и описание</li>
            <li>Дату и время проведения</li>
            <li>Место проведения</li>
            <li>Теги события</li>
            <li>Блок активности</li>
            <li>Актуальные хронологические изменения события</li>
            <li>Последние сообщения из чата события</li>
            <li>Участники - пользователи, которые поставили отметку "ПОЙДУ"</li>
        </ul>




        <a name="eventscreate">
            <hr>
        </a>
        <h3>Создание событий</h3>
        <p>Для того, чтобы добавить новое событие, нажми "ДОБАВИТЬ СОБЫТИЕ" на вкладке "СОБЫТИЯ"</p>
        <img src="~/resourses/helpimages/newevent.png" alt="Alternate Text" />
        <p>После этого произойдёт переход на страницу, где нужно заполнить все поля. Заголовок, город и место являются обязательными.</p>
        <p>Тег - это слово, которое характеризует событие. Для публичных событий по тегам производится показ событий для заинтересованных пользователей. Подробнее в разделе <a href="#tegs">О ТЕГАХ</a></p>
        <p>В поле ввода "Теги события" слова вводятся через разделители. Разделителями являются @@ и [пробел]. Все остальные символы (кроме букв и цифр) будут удалены.</p>
        <p>Таким образом теги будут разделены пробелами и символом собаки.</p>
        <p>Все события делятся на две категории: публичные и приватные.</p>
        <p>Приватные - это те события, которые не отображаются в поиске. Пригласить на них можно, отправив приглашение или ссылку другому пользователю.</p>
        <p>Публичными являются те события, которые отображаются в поиске. Они видны всем пользователям. Изменить статус события с приватного на публичное можно на вкладке "личный кабинет" на странице профиля.</p>
        <img src="~/resourses/helpimages/lk.png" alt="lk" />

        <a name="eventsearch">
            <hr>
        </a>
        <h3>Поиск событий</h3>
        <p>Центральным элементом сервиса является система рекомендаций.</p>
        <p> На странице события при входе на сайт отображается стартовая выборка. Она формируется по параметрам, которые указаны в верхней панели.</p>
        <img class="width100 maxwidth300" src="~/resourses/helpimages/params.png" alt="параметры" />
        <p>Для незарегистрированных пользователей это будет временной интервал и город Москва. Для зарегистрированных - временной интервал, город, указанный в профиле, и список тегов.</p>
        <p>Для того, чтобы изменить параметры поиска, можно воспользоваться страницей "ПОИСК", указав следующие параметры: дату, город, теги и часть наименования события. Либо изменить сведения профиля на вкладке "МОЯ СТРАНИЦА".</p>

        <a name="tegs">
            <hr>
        </a>
        <h3>О тегах</h3>
        <p>
            Теги характеризуют события таким образом, чтобы те отображались в выборках пользователей. Этот инструмент позволяет привлечь внимание к событию со стороны пользователей, которые указали тот же тег в качестве своего интереса. Таким образом, можно быть  уверенным, что аудиторя увидит событие.
        </p>

        <p>Тег - это слово или несколько слов, объединенных в одну группу.</p>
        <p>Теги - это набор слов, которые характеризуют содержание события. Например, тег "ВЫСТАВКА" может характеризовать событие, которое проходит в формате выставки, а набор тегов "ВЫСТАВКА ШИШКИН" характеризует выставку, на которой будут произведения этого художника.</p>
        <p>Все теги вводятся одной строкой в соответствующем поле. При сохранении строка будет разбита на отдельные слова, причем разделителями будут следующие символы:</p>
        <p>[пробел] @@</p>
        <p>Остальные символы будут удалены из строки.</p>
        <p>Все символы в тегах будут преобразованы к СТРОЧНЫМ</p>
        <p>Несколько примеров:</p>
        <p>Строка "это некоторый пример"<br>будет разбита на 3 тега: "ЭТО", "НЕКОТОРЫЙ", "ПРИМЕР"</p>

        <p>Строка "это_некоторый&пример"<br>будет разбита на тег: "ЭТОНЕКОТОРЫЙПРИМЕР"</p>

        <p>Строка "это_некоторый@пример"<br>будет разбита на 2 тега: "ЭТОНЕКОТОРЫЙ", "ПРИМЕР"</p>

        <p>Строка "это!! ?? >>> @@некоторый!!! пример:)))"<br>будет разбита на 3 тега: "ЭТО", "НЕКОТОРЫЙ", "ПРИМЕР"</p>

        <p>При выборе по тегам учитывается полное совподение. То есть событие с тегом СОБЫТИЕ не будет показано в результатах для пользователя с интересом СОБЫТИЯ.</p>
        <p>По-этому мы рекомендуем указывать интересы в единственном числе и именительном падеже.</p>

    </div>
</div>



