@model EventB.ViewModels.EventSearchViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "поиск";
}

    <div class="top-page-header">Поиск событий</div>
<div>
    <p class="common-text">Задай параметры поиска</p>
</div>
<hr class="item-inner-separator">

<form asp-action="SearchEventlist" asp-controller="Events" asp-antiforgery="true" method="post" class="wide-form">
    <label class="form-label">Название:</label><br>
    <input class="form-entry-title" type="text" name="Title" autocomplete="off"><br>

    <label class="form-label">Город:</label><br>
    <input class="form-entry-title" type="text" name="City"><br>

    <label class="form-label">Теги:</label><br>
    <input class="form-entry-title" type="text" name="Tegs" autocomplete="off"><br>

    <label class="form-label">Дата начала С:</label><br>
    <input id="ser-date-since" class="form-date" type="datetime-local" name="DateSince"><br>

    <label class="form-label">Дата начала ПО:</label><br>
    <input id="ser-date-due" class="form-date" type="datetime-local" name="DateDue"><br>

    <input type="hidden" name="Skip" value="0" />
    <input type="hidden" name="Take" value="30" />

    <input class="form-submit" type="submit" name="f" value="Найти событие"><br><br>
</form>
@{ ViewData["Script"] = "Search.js";}