@model EventB.ViewModels.EventSearchViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="top-page-header">Поиск событий</div>
<div>
    <p class="common-text">Здесь вы можете задать параметры поиска событий.</p>
</div>
<hr class="item-inner-separator">

<form asp-action="Search" asp-antiforgery="true"  method="post">
    <div asp-validation-summary="ModelOnly" ></div>
    <label class="form-label">Название:</label><br>
    <input class="form-entry-title" type="text" asp-for="Title"><br>

    <label class="form-label">Теги:</label><br>
    <input class="form-entry-title" type="text" asp-for="Tegs"><br>

    <label class="form-label">Дата начала С:</label><br>
    <input class="form-date" type="date" asp-for="DateStart"><br>

    <label class="form-label">Дата начала ПО:</label><br>
    <input class="form-date" type="date" asp-for="DateEnd"><br>

    <label class="form-label">Город:</label><br>
    <input class="form-entry-title" type="text" asp-for="Сity"><br>

    <input class="form-submit" type="submit" name="f" value="Найти событие"><br><br>
</form>

<div class="top-page-header">Поиск сообщников</div>
<form asp-action="SearchFriend" asp-controller="Friends" asp-antiforgery="true" method="get">
    <div class="validation-summary-errors validation-summary-valid"></div>

    <label class="form-label">Имя:</label><br>
    <input class="form-entry-title" type="text" name="name"><br>

    <label class="form-label">Теги (если несколько, то поиск только для первого):</label><br>
    <input class="form-entry-title" type="text" name="teg"><br>

    <label class="form-label">Город (полностью, если не указан, будет поиск для вашего города)</label><br>
    <input class="form-entry-title" type="text" name="city"><br>

    <input class="form-submit" type="submit" name="f" value="Найти пользователя"><br>

</form>

@{ ViewData["Script"] = "Search.js";}