@model IEnumerable<EventBLib.Models.Friend>
@{
    ViewData["Title"] = "List";
    ViewData["Style"] = "Friends.css";
    ViewData["Script"] = "Friends.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-page-header flex-hsbs flex-wr">
    <span>Ваши подписки</span>
    <div>
        <span id="fr-new-star" class="s-star16 s-star16-inline display-none"></span>
        <span class="orders">заявки</span>&nbsp;
        <span class="fr-search-modal">ПОИСК</span>
    </div>

</div>

<div class="s-filter-container">
    <span class="small-label">Фильтр</span>
    <div class="flex-hsbc">
        <input id="fr-filter" class="s-filter" />
        <img src="~/resourses/cancel.png" class="s-filter-clear" />
    </div>
   
</div>

<div class="flex-hsac flex-wr fr-current-friends">
    @foreach (var item in Model)
    {
        if (item.IsBlocked && !item.BlockInitiator)
            continue;

        await Html.RenderPartialAsync("~/Views/Shared/_friendBigCardPartial.cshtml", item);

    }
</div>
<div class="fr-search-list display-none"></div>




