@model IEnumerable<EventBLib.Models.Friend>
@{
    ViewData["Title"] = "List";
    ViewData["Style"] = "Friends.css";
    ViewData["Script"] = "Friends.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-page-header flex-hsbs flex-wr">
    <span>Ваши подписки</span>    
    <span class="orders">заявки</span>
</div>
<span class="small-label">Фильтр</span><br>
<input id="fr-filter" class="fr-filter" /><img src="~/resourses/cancel.png" class="fr-filter-clear"/>
<div class="flex-hsac flex-wr">
    @foreach (var item in Model)
    {
        if (item.IsBlocked && !item.BlockInitiator)
            continue;

        await Html.RenderPartialAsync("~/Views/Shared/_friendBigCardPartial.cshtml", item); 

    }
</div>




