@model EventB.ViewModels.FriendsVM.FriendsSearchVM
@{
    ViewData["Title"] = "SearchFriend";
    ViewData["Style"] = "Friends.css";
    ViewData["Script"] = "Friends.js";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "поиск";
}

@{await Html.RenderPartialAsync("~/Views/Friends/Partials/_SearchForm.cshtml", Model.SearchParam);}

@if (Model.Friends.Count() == 0)
{
    <div class="margintop05em">Пользователей не найдено</div>
}
<div class="fr-current-friends margintop05em">
    @foreach (var user in Model.Friends)
    {
        await Html.RenderPartialAsync("_smallFigure", user);
    }
</div>

