@model List<EventB.Models.Friend>
@{
    ViewData["Title"] = "SearchFriend";
    ViewData["Style"] = "Friends.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Результат поиска</h3>

@if (Model.Count == 0)
{ 
<div>Никто не найден</div>
}

@foreach (var item in Model)
{
    <div>
        <form asp-action="AddFriend" method="post">
            <div>@item.UserName</div>
            <div>@item.UserPhoto</div>

            <input type="hidden" name="friendId" value="@item.PersonFriendId" />
            <input type="submit" value="добавить в друзья">
            <hr>
        </form>
    </div>
}
