@model List<EventBLib.Models.Friend>
@{
    ViewData["Title"] = "SearchFriend";
    ViewData["Style"] = "Friends.css";
    ViewData["Script"] = "Friends.js";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="top-page-header">Результат поиска 
        <form asp-action="SearchFriend" method="post">
        <input type="submit" class="search-submit" value="Поиск" />
        <input name="search" class="search-entry" />
        </form>
    </div>

@if (Model.Count == 0)
{ 
<div>Никто не найден</div>
}

@foreach (var item in Model)
{
<div class="friend-list-container">
    <div class="left-column-container">
        <img src="@item.UserPhoto" class="friend-list-img" />
        <div>
            <h3>@item.UserName</h3>
            <div>Add statistics</div>
            <div>Add statistics</div>
            <div>Add statistics</div>
        </div>
    </div>

    <div class="right-column-container">
        <input type="hidden" name="friendId" value="@item.UserId" />
        <button class="form-submit btn-submit">Подписаться</button>
        <div class="form-submit ref-holder"><a class="form-submit" asp-controller="Messages" asp-action="Index"  asp-route-opponentId="@item.UserId">Сообщение</a></div>
        <button class="form-submit" asp-action="BlockUser">Заблокировать</button>
    </div>
</div>
}
