@model EventBLib.Models.User

@{
    ViewData["Title"] = Model.Name;
    ViewData["Style"] = "Friends.css";
    ViewData["Script"] = "Friends.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<div class="top-page-header">@Model.Name</div>