@model Admin.Models.ViewModels.Events.EventsListVM
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Style"] = "events.css";
    ViewData["Script"] = "events.js";
}

<div id="ev-page-content">
    <div>
        @{await Html.RenderPartialAsync("_EventsFilterForm.cshtml", Model.SearchParam);}
    </div>
    <div id="evelist-table">
        @{await Html.RenderPartialAsync("_EventsTablePage.cshtml", Model.Events);}
    </div>
</div>

