/*
    золотой #ffcd00
    темный синь #1b5972
    беж темный #dee2e6  -  #fff
    беж светлый #f1ead8   -  #bbb

*/

p{
    color: #dee2e6;
    margin:0;
}
.vertical-trigger{
    height:1px;
}
.chat-frame {
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: stretch;
}

.left-column {
    min-width: 300px;
    padding: 16px;
    background-color: #1b5972;
}

.right-columnn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dee2e688;
}

.search {
    display: flex;
}

    .search > input {
        background-color: #fff6;
        color:#000;
        width: calc(100% - 30px);
        margin-bottom: 8px;
        padding: 3px;
        border: none;
    }
        .search > input:focus{
            outline:none;
        }

    .search > button {
        background-color: #1b5972;
        width: 30px;
        margin-bottom: 8px;
        border: none;
        background-image: url('/resourses/cancel.png');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        outline: none;
    }


.opponents-list {
    overflow-y: auto;
    max-height: calc(100% - 30px);
}
.opponent-container {
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0 solid #dee2e6;
}
    .opponent-container:hover{
        background-color:#fff4;
        cursor:pointer;
    }

.opponent-name-value{
    color: #ffcd00;
    font-weight: bold;
    word-break: break-word;
    max-width: 270px;
}
.opponent-name {
    color: #ffcd00;
    font-weight: bold;
    margin-left: 16px;
}
.new-message-flag {
    background-color: #fff4;
    border-radius: 6px;
    padding: 0 5px;
    color: #fff;
    font-size: 14px;
}

.selected-opponent{
    background-color:#fff9;
}

.message-header{
    background-color:#1b5972;    
    border-bottom: 1px solid #ffcd00;
}

.opponent-photo{
    width:60px;
    height:60px;
    border-radius:30px;
    margin: 4px 16px; 
}
    .opponent-photo>img{
        max-width:100%;
        max-height:100%;
        object-fit:contain;
    }
.mes-remove-chat {
    color: #ffcd00;
    padding: 4px 24px;
    height: 31px;
    cursor: pointer;
    background-image: url('../resourses/cancel.png');
    background-position: -2px -1px;
    background-repeat: no-repeat;
    align-self:flex-start;
}
.message-list {
    overflow-y: auto;
    padding: 8px;
    flex-basis: 2000px;
    background-color: #fff;
}


.form-send {
    display: flex;
    border: 1px solid #1b5972; 
    border-left: none;
}
    .form-send > input, textarea {
        width: calc(100% - 30px);
        padding: 3px;
        border: none;
    }
        .form-send > input, textarea:focus{
            outline:none;
        }

    .form-send > button {
        background-color: #1b5972;
        width: 30px;
        border: none;
        background-image: url('/resourses/yellowarrowright.png');
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: -5px -8px;
    }
    .form-send > button:disabled{
        background-color: #fff6;
    }
textarea {
    resize: none;
}
.hidden{
    display:none;
}
#ch-small-menu-btn {
    background: url('../resourses/chats.png');
    background-position: 2px 2px;
    z-index: 100;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
}
/*узкий*/
@media(min-width: 800px) {
    #ch-small-menu-btn{
       display:none;
    }    
}
@media(max-width: 800px){
    .chat-frame {
        display: block;
        position: relative;
        height: calc(100vh - 65px);
    }

    .left-column {
        height: calc(100vh - 100px);
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        z-index: 50;
    }
    .ch-hide-menu{
        visibility: visible;
    }

    #ch-small-menu-btn {
        position: relative;
        bottom: 2px;
        left: -1px;
    }
    .opponent-photo {
        width: 0px;
        height: 0px;
        border-radius: 30px;
        margin: 0;
    }
    .opponent-photo > img{
        display:none;
    }
}

#mes-load-history{
   display:inline-block;
   background-color: #1b5972;
   color: #ffcd00;
   font-size: 14px;
   border-radius: 4px;
   padding: 2px 4px 4px 4px;
   text-transform: lowercase;
   margin-bottom: 4px;
   cursor: pointer;
}
.arrow-up{
    background-image: url(../resourses/arrow-up.png);
    width: 16px;
    height:16px;
}