/*>******************************* список событий Event - start*/
.top-line {
    margin-top:8px;
    background-color: #1b5972;
}

/* >***************************  контейнер деталей события Event - details*/
.item-container {
    background-color: #e4dcc5;
    padding: 20px;
    width: 100%;
    border: 2px solid #1b5972;
    border-top:0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    box-sizing: border-box;
}

    .item-container h2 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #1b5972;
        text-transform: uppercase;
        align-self: center;
        margin-top: 24px;
    }

    .item-container h3 {
        text-align: center;
        font-size: 18px;
        margin: 5px 0;
        font-weight: bold;
        color: #1b5972;
    }

    .item-container h4 {
        text-align: center;
        padding: 5px 0;
        margin: 5px 0;
        font-size: 16px;
        font-weight: bold;
        color: #1b5972;
        padding-right: 30px;
    }



    .item-container p {
        font-size: 18px;
        padding: 10px 0;
        margin: 0;
        color: #1b5972;
    }

.ev-half {
    width: 48%;
}

.item-img {
    margin: 0 auto;
    align-self: center;
    width: 100%;
    max-height: 50vmin;
    object-fit: contain;

}

/* >****************** добавление записи Event - Add  */
.page-top-menu {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: #1b5972;
    margin-bottom: 16px;
}

    .page-top-menu a {
        color: #e4dcc5;
        margin: 0 24px;
    }

        .page-top-menu a:hover {
            color: #ffcd00;
        }

.common-text {
    font-size: 14px;
    margin: 0;
    color: #1b5972;
    margin: 10px 5px;
}


/* нижнее меню деталей*/

.bottom-menu{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    background-color:#1b5972;
    padding:8px 24px;
}

.bottom-menu-item{
    color:#e4dcc5;
    cursor:pointer;
}

.bottom-menu-item-selected {
    color:#ffcd00;
}
.display-none {
    display:none;
}

.bottom-body {
    border: 2px solid #1b5972;
    padding: 16px;
    background-color: #e4dcc5;
}


/* Сообщения */
#text{
    width:calc(100% - 105px);
}
#btn-send{
    width:100px;
    border:none;
    background-color:#1b5972;
    color:#ffcd00;
}

.message-list {
    width: 100%;
}

.message-item {
    width: 100%;
    background-color:#1b5972;
    padding:8px;
    margin-bottom:16px;
}

.message-sender {
    color: #ffcd00;
    font-size: 14px;
    text-transform: uppercase;
}

.message-text{
    color:#e4dcc5;
}

.message-date {
    color: #f1ead899;
    font-size: 10px;
}

.message-item-change {
    width: 100%;
    background-color: #1b5972;
    padding: 8px;
    margin-bottom: 16px;
}

.message-sender-change {
    color: #ffcd00;
    font-size: 14px;
    text-transform: uppercase;
}

.message-text-change {
    color: #e4dcc5;
}

.message-date-change {
    color: #f1ead899;
    font-size: 10px;
}

form{
    margin-bottom:16px;
}

form label {
    font-size:12px;
}

#btn-load{
    color:#1b5972;
    cursor:pointer;
    background-color:#0000;
    border:none;
}

/* **** контейнер приглашений */

.inline{
    display:inline-block;
}

#over-cont {
    display:none;
    position: fixed;
    background-color: #0007;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.invite-cont{
    margin:auto;
    background-color:#e4dcc5;
    max-width:500px;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:start;
}

.invite-menu{
    padding:8px;
}

.invite-list{
    flex-basis:1000px;
    overflow-y:auto;
    overflow-x:hidden;

    padding:8px;
}

.invite-item{
    border-top:1px solid #1b5972;
    padding: 8px 0;
}
.invite-item > img {
    max-width:180px;
    max-height:180px;
    object-fit:contain;
    margin-right:16px;
}

.invite-data{
    flex-basis:400px;
}

#text {
    width: 100%;
    height:94px;
    max-width: 100%;
    padding: 4px 8px;
    font-size:12px;
    border:1px solid #1b5972;
}
#text:focus{
    outline:none;
}
    .invite-title > H5{
    color:#1b5972;
    font-size:18px;
    margin:4px 16px;
    }
.inv-button {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #1b5972;
    box-shadow: #aaa 0 0 3px 3px;
    margin-right: 3px;
}
.inv-button:focus{
    outline: none;
}

.checked-inv{
    background-color:#ffcd00;

}

/* Форма редактирования */
.content{
    display:inline-block;
    font-size:16px;
    color:#1b5972;
}
/* параметры поиска */
#end-marker {
    width: 100%;
    display:flex;
    justify-content:center;
    
}
#ev-load-more{
    padding:4px;
    margin:8px;
    border:1px solid #1b5972;
    border-radius:4px;
    color:#1b5972;
    cursor:pointer;
}

/*контейнер отправки ссылки*/
#ev-over-link {    
    position: fixed;
    background-color: #0007;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.ev-link-cont {
    margin: auto;
    background-color: #e4dcc5;
    width: 500px;
    height: 80%;
    max-height:1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}