

.friend-list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    border: 1px solid #1b5972;
    padding:16px;
    margin: 16px 0;
}

.friend-list-img {
    max-height: 120px;
    border-radius: 15px;
    margin-right: 24px;
}

.right-column-container{
    display:flex;
    flex-direction:column;
    justify-content:right;
}

.left-column-container{
    display:flex;
    justify-content:start;
}


