.left-column-container{
    display:flex;
    justify-content:start;
}

.fr-search-modal {
    cursor: pointer;
    width: 70px;
}
.orders{
    cursor:pointer;
    width:70px;
}

label {
    font-size: 14px;
    color: #1b5972bb;
    margin-bottom: 2px;
}

.ui-info {
    display: flex;
    justify-content: flex-start;
    padding: 16px 0;
    background-color: #fff;
}

.info-area {
    padding: 0 16px;
    
}
@media(max-width:850px) {
    .ui-info {
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 16px 0;
        background-color: #fff;
    }
    .info-area {
        padding: 0 16px;
        width: 432px;
        flex-basis: 100px;
    }
}
.interes {
    padding: 0 8px;
    margin: 0 16px 0 0;
    border: 1px solid #1b5972;
    border-radius: 4px;
}

.ui-photo {
    max-height: 500px;
    max-width: 400px;
    margin: 0  0 16px 0;
}
.btn-area{
    min-width: 250px;
    max-width: 320px;
}
.btn-area div {
    width: 100%;
}

.ui-bottom-menu{
    background-color:#1b5972;
    width:100%;
    padding:8px;
}

.fr-selector {
    color: #dee2e6;
    padding: 0 16px;
    cursor: pointer;
}
.fr-checked {
    color: #ffcd00;
}
.ui-botom-content{
    border:2px solid #1b5972;
    padding: 16px;
    background-color: #fff;
}
.fr-filter{
    padding: 4px;
    font-size: 14px;
    border: 1px solid #1b5972;
    border-radius:4px 0 0 4px;
    border-right:none;
    width: Calc(100% - 31px);
}
.fr-filter-clear {
    height: 31px;
    width:31px;
    border: 1px solid #1b5972;
    border-left: none;
    border-radius:0 4px 4px 0;
    background-color:#1b5972;
    cursor:pointer;
}