.friend-list-container {
    border: 1px solid #1b5972;
    border-radius:4px;
    padding: 2px;
    margin: 16px 0;
    width: 320px;
}

.friend-list-img {
    width: 100%;
    height:200px;
}

.left-column-container{
    display:flex;
    justify-content:start;
}

.orders{
    cursor:pointer;
    width:70px;
}

label {
    font-size: 14px;
    color: #1b5972bb;
    margin-bottom: 2px;
}

.ui-info {
    margin: 16px 0;
}

@media(max-width:950px) {


}
.interes {
    padding: 0 8px;
    margin: 0 16px 0 0;
    border: 1px solid #1b5972;
    border-radius: 4px;
}

.photo{
    max-height:500px;
    max-width:400px;
}

.btn-area div{
    width:100%;
}
.info-area{
    padding: 0 16px;
    flex-basis: 1000px;
}

.ui-bottom-menu{
    background-color:#1b5972;
    width:100%;
    padding:8px;
}

.fr-selector {
    color: #e4dcc5;
    padding: 0 16px;
    cursor:pointer;
}
.fr-checked {
    color: #ffcd00;
}
.ui-botom-content{
    border:2px solid #1b5972;
    padding: 16px;
}
.fr-filter{
    padding: 4px;
    font-size: 14px;
    border: 1px solid #1b5972;
    border-radius:4px 0 0 4px;
    border-right:none;
    width: Calc(100% - 31px);
}
.fr-filter-clear {
    height: 31px;
    width:31px;
    border: 1px solid #1b5972;
    border-left: none;
    border-radius:0 4px 4px 0;
    background-color:#1b5972;
        cursor:pointer;
}