img{
    max-width: 100%;
}

.h-left-menu {
    flex-basis: 350px;
}
#h-small-menu-btn {
    background: url('../resourses/dark_menu.png');
    background-position: 2px 2px;
    z-index: 100;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
}
.h-menu-holder {
    border-radius: 2px;
    margin: 4px;
    padding: 4px;
    background-color: white;
    width: 280px;
}
@media(min-width: 801px) {
    #h-small-menu-btn {
        display: none;
    }
    .h-menu-holder{
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        background-color: white;
    }
}
@media(max-width: 800px)
{
    #h-small-menu-btn {
        position: relative;
        bottom: 2px;
        left: -1px;
    }
    .h-left-menu {
        height: calc(100vh - 100px);
        position: absolute;
        top: 50px;
        left: 0;
        visibility: hidden;
        z-index: 50;
    }
    .h-menu-holder {
        border: 1px solid #1b3272;
        border-radius: 2px;
        margin: 4px;
        padding: 4px;
        background-color: white;
        position: fixed;
        top: 50px;
    }
}


.h-hide-menu {
    visibility: visible;
}

.h-right-body {
    flex-basis: 1000px;
    background-color: white;
    padding: 18px;
}


.h-menu-selected {
    font-weight: 600;
}
.h-menu-unit {
    font-size: 18px;
    color: #1b5972;
}
.h-menu-item {
    display: block;
    font-size:14px;
    color:black;
    padding-left:2em;
}
hr{
    margin-bottom: 64px;
}
h3{
    text-transform:uppercase;
    text-align:center;
    font-size:24px;
    font-weight:300;
    margin-top:32px;
}
p{
    margin-top: 1em;
    text-indent: 2em;
    text-align:justify;
}
/*Support*/
.h-fixed-height {
    height: calc(100vh - 160px);
    display:flex;
    flex-direction:column;

}
.h-support-content {
    background-color: #fff;
    overflow-y: scroll;
    flex-basis: 1000px;
}
.h-message-textarea {
    flex-basis:100%;
    background-color: #fff;
}
.h-message-send{
    
}

