
.selected-selector{
    font-size:18px;
    font-weight:600;
}
.lk-selector {
    color: #1b5972;
    border-radius: 4px;
    padding: 4px 16px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    margin: 4px 0;
}

.lk-page{
    margin: 16px 8px;
}

.lk-header{
    color:#2b6982;
    font-size:24px;
    padding:0;
}
.lk-menu-block{
    padding:8px;
    border-radius: 4px;
    border: 1px solid #1b5972;
    background-color: white;
}
.lk-info-p{
    padding: 4px 8px;

}
.lk-event{
    display: flex;
}
@media(max-width: 770px)
{
    .lk-event{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* модалка блокировка пользователей*/

.lk-block-user-name{
    font-weight:300;
}
.lk-block-user-ava{
    max-height:46px;
    max-width:46px;
}
.lk-block-user-btn-block{
    color: #f25522;
    cursor: pointer;
    padding: 4px 6px;
    background-color: #1b5972;
    border-radius: 4px;
}
.lk-block-user-btn-unblock {
    color: #00ff90;
    cursor: pointer;
    padding: 4px 6px;
    background-color: #1b5972;
    border-radius: 4px;
}