.mp-header {
    display:flex;
    justify-content: left;
    background-color: #fff;
    margin-top: 16px;
}
.mp-data {
}
.btn-edit {
    color: #444;
    font-size:12px;
    cursor:pointer;
    margin: 4px 8px;
}
.mp-name {
    font-size: 32px;
    word-break: break-word;
}

.mp-img {
    margin-bottom: 16px;
}

    .mp-img img {
        height:260px;
        width:320px;
        object-fit: cover;
        border-radius: 4px;
    }
.btn-area {
}
.mp-data-label {
    font-size: 14px;
    color: #1b5972bb;
    margin-bottom: 2px;
}

.mp-data-value {
    margin-bottom: 12px;
    font-size:18px;
}

.mp-teg {
    padding:0 8px;
    margin: 0 16px 8px 0;
    border: 1px solid #1b5972;
    border-radius:4px;
}
.mp-data-tegs {
    display: flex;
    justify-content:start;
    flex-wrap:wrap;
}

.mp-details-header {
    padding: 8px;
    background-color: #1b5972;
    color: #ffcd00;
    display:flex;
    justify-content: space-around;
}
    .mp-details-header span {
        cursor:pointer;
    }

.display-block {
    display: block;
}

.details-container {
    background-color: #fff;
}


.mp-my-selector {
    color: #e4dcc5;
    text-transform: uppercase;
}
.selected-label {
    color:#ffcd00;
}  
/* блок друзей*/
.friend-list-img {
    max-height: 120px;
    border-radius: 15px;
    margin-right: 24px;
}

.right-column-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.left-column-container {
    display: flex;
    justify-content: start;
}

/* Отметки пойду */
/*вынесено в мэйн*/
.total-invite{
    width: 100%;
}
.invite-header {
    background-color: #1b5972;
    color: #ffcd00;
    padding: 8px 24px;
    font-size: 16px;
    margin-top: 16px;
}
.invite-container {
    border: 2px solid #1b5972;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 16px;
    background-color: #dee2e6;
}

.item-img{
    max-width: 200px;
    max-height:200px;
}

.inv-content {
    flex-basis: 50%;
    margin:0 16px;
}


    .invite-container div > p {
        margin-bottom: 4px;
    }

.vartical-separator{
    height:100%;
    margin:16px;
    width:0;
    border:1px solid #1b5972;
    flex-basis:0px;
}
#will-go {
    color: #ffcd00;
}
#will-notgo{
    color:#ff6a00;
}

@media(max-width:950px) {
    .invite-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #1b5972;
        width: 100%;
        padding: 16px;
    }

    .inv-content {
        flex-basis: 50%;
        margin: 0;
    }

    .item-img {
        max-width: 400px;
        max-height: 400px;
        align-self: center;
    }
}
@media(max-width:440px) {
    .item-img {
        max-width: 100%;
        max-height: 100%;
        align-self: center;
    }
    .mp-img {
        max-width: 100%;
    }
}

@media(max-width: 850px) {
    .mp-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #fff;
    }
    .mp-img {
        height: 260px;
        width: 320px;
    }
        .mp-img img {
            width: 100%;
        }
    .mp-data {
        width: 100%;
    }
}