
.eventlist-container {
    margin-top: 8px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    border: 2px solid #1b5972;
    background-color: #dee2e6;
}

.eventlist-img {
    flex: 1;
    margin: 8px;
    background-color: grey;
}

    .eventlist-img img {
        object-fit: contain;
        width: 300px;
        height: 239px;
    }



.eventlist-info {
    flex: 3;
    padding: 16px;
}


    .eventlist-info h4 {
        margin: 0;
        display: inline;
        font-weight: normal;
        font-size: 14px;
    }

    .eventlist-info label {
        margin-right: 16px;
        font-size: 12px;
    }


.eventlist-stats span {
    font-size: 12px;
    color: grey;
}

.eventlist-bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b5972;
    margin-bottom: 16px;
    padding: 4px 24px;
}


.eventlist-btn-come-right-col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info-img {
    cursor: pointer;
}

.info-num {
    padding: 0 15px;
    color: #e4dcc5;
}
