/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0;
    padding: 0;
    padding-bottom:24px;
    font-family: sans-serif;
    background-color: #f1ead8;
    box-sizing: border-box;

}

p{
    color:#1b5972;
}

a {
    color:#1b5972;
    text-decoration: none;
}

    a:hover {
        text-decoration:none;
    }

.footer {
    position:fixed;
    bottom:0;
    left:0;
    height:24px;
    background-color:#1b5972;
    color:#e4dcc5;
}
main {
}

.ref-holder {
    text-align:center;
}
/*ВАЛИДАЦИЯ *****************************************/
.field-validation-error {
    color: orangered;
    display: block;
    padding: 5px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid orangered;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: orangered;
}

.validation-summary-valid {
    display: none;
}

/*>********************************** главное меню _Layout*/
#main-menu-li {
    top: 0px;
    left: 0%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

    #main-menu-li li {
        position: relative;
        list-style: none;
    }

        #main-menu-li li a {
            position: relative;
            width: 185px;
            height: 40px;
            display: block;
            color: #1b5972;
            line-height: 40px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: .5s;
            box-sizing: border-box;
        }

ul li a span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #1b5972;
    z-index: -1;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform .5s;
}

#main-menu-li li a:hover {
    color: #ffcd00;
    text-decoration: none;
}

ul li a:hover span {
    transform-origin: bottom;
    transform: scaleY(1);
}

ul li a span:nth-child(1) {
    left: 0;
    transition-delay: 0s;
}

ul li a span:nth-child(2) {
    left: 25%;
    transition-delay: 0.15s;
}

ul li a span:nth-child(3) {
    left: 50%;
    transition-delay: 0.3s;
}

ul li a span:nth-child(4) {
    left: 75%;
    transition-delay: 0.45s;
}

.container {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.main-menu-container {
}

#title-container {
    padding: 8px 24px;
    color: #1b5972;
    background-color: #1b5972;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#title-container article {
    text-align: center;
    color: #ffcd00;
}

.shared-login h5, .shared-login a {
    color: #e4dcc5;
    font-size:14px;
    display:inline-block;
    margin-left:24px;
}

.shared-login a:hover{
    color: #ffcd00;
}



.menu-bottom-line {
    background-color: #1b5972;
    height: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.top-page-header{
    color:#ffcd00;
    background-color:#1b5972;
    width:100%;
    padding:8px 24px;
    font-size:18px;
    text-transform:uppercase;
    display:flex;
    justify-content:start;
    align-items:center;
    flex-wrap:wrap;
}
    .top-page-header a{
        color:#e4dcc5;
    }
        .top-page-header a:hover{
            color:#ffcd00;
        }

/* ******************** формы*/
.small-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.identity-cintainer {
    width:400px;    
}

.form-label {
    color: #1b5972;
    padding: 5px;
    margin-bottom: 0;
}

.form-entry-title {
    background-color: #ffffff22;
    color: #1b5972;
    padding: 5px;
    overflow-wrap: break-word;
    width: 100%;
    border: 1px solid #1b5972;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 5px;
}

.form-entry-body {
    background-color: #ffffff22;
    color: #1b5972;
    padding: 5px;
    overflow-wrap: break-word;
    width: 100%;
    height: 300px;
    border: 1px solid #1b5972;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 5px;
    resize: none;
}

.form-date {
    background-color: #ffffff22;
    color: #1b5972;
    padding: 5px;
    border: 1px solid #1b5972;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 5px;
}

.form-checkbox{
    width:15px;
    height:15px;
}

.form-submit {
    padding: 5px 40px;
    margin: 5px 0;
    border-radius: 5px;
    border: 0px;
    background-color: #1b5972;
    color: #e4dcc5;
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
}

    .form-submit:hover {
        color: #ffcd00;
    }

    .form-submit:focus{
       outline:none;
    }

.search-submit{
    height: 30px;
    background-color:#e4dcc5;
    color:#1b5972;
    border:none;
    padding:0 24px;
    margin-left: 24px;
    cursor:pointer;
}
.search-entry {
    box-sizing: border-box;
    height: 30px;
    background-color: #f1ead8;
    color: #1b5972;
    border-radius: 0 15px 15px 0;
    border: 1px solid #1b5972;
    width: 500px;
}

.form-search-fade {
    padding: 5px 40px;
    margin: 5px 0;
    border-radius: 5px;
    border: 0px;
    background-color: #1b5972;
    color: #ffcd00;
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
}
    .form-search-fade:hover{
        color:#e4dcc5;
    }

    .search-submit, .search-entry, .form-search-fade, .form-submit, .form-date, .form-entry-body, .form-entry-title:focus {
        outline: none;
    }

.red-btn-alert {
    background-color: #1b5972;
    border-radius:5px;
    color: orangered;
    border: none;
    padding: 8px 24px;
}
/*блоки фигур*/
.element-square-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

figure {
    padding: 16px;
    width: 200px;
    background-color: #1b5972;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

figcaption {
    color: #ffcd00;
    align-content: center;
    padding: 4px;
}

figure img {
    max-width: 164px;
    max-height: 164px;
    object-fit: fill;
}




