/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
    золотой #ffcd00
    темный синь #1b5972
    беж темный #e4dcc5  -  #dee2e6
    беж светлый #f1ead8   -  #fff

*/
body {
    margin: 0 5px;
    padding: 0;
    padding-bottom:24px;
    font-family: sans-serif;
    background-color: #dee2e6;
    box-sizing: border-box;
    height:100vh;
}

hr{
    margin:2px 0;
    border-top:1px solid #1b5972;
}
p{
   margin: 0;
}

a{
    color:#1b5972;
    text-decoration: none;
}
    a:hover {
        text-decoration:none;
    }

.footer {
    position:fixed;
    bottom:0;
    left:0;
    height:24px;
    background-color:#1b5972;
    color:#fff;
}
main {
}

ul{
    margin:0px;
}
label{
    margin: 0.5rem 0 0 0;
}
.display-none {
    display:none;
}
.visible-hidden{
    visibility:hidden;
}
.float-right{
    float: right;
}
.central-title {
    font-size: 18px;
    text-align: center;
    width: 100%;
    font-weight: 600;
}
.action-button{
    text-align:center;
    background-color:#1b5972;
    color:#fff;
    border-radius:2px;
    border: none;
    font-weight:200;
    font-size:16px;
    padding:4px;
    margin-bottom: 4px;
    text-transform:uppercase;
    cursor: pointer;
}
    .action-button:hover{
        color:#ffcd00;
    }
.width100{
    width: 100%;
}

.margin-8px{
    margin: 8px;
}

.small-label {
    font-size: 10px;
    color: #0009;
}
.formatted-body{
    white-space: pre-wrap;
}
.calender-width{
    width: 300px;
}
/*звездочки*/
.s-star16 {
    background-image: url('../resourses/star32.png');
    background-repeat: no-repeat;
    background-position: -7px -8px;
    min-width: 20px;
    min-height: 20px;
}
.s-star16-inline{
    position:relative;
}
.s-star16-formenu {
    position: absolute;
    top: 7px;
    right: 0;
}
    /*Оповещение внизу*/
    .s-fixed-notification {
        max-width: 400px;
        max-height: 200px;
        padding: 8px;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        border-radius: 0 4px 0 0;
        font-size: 16px;
        z-index: 10;
    }
.s-fixed-notification-red {
    background-color: #e60026;
    color: white;
}
.s-fixed-notification-yellow {
    background-color: yellow;
    color: black;
}
.s-fixed-notification-green {
    background-color: forestgreen;
    color: white;
}
/*ВАЛИДАЦИЯ *****************************************/
.field-validation-error {
    color: orangered;
    display: block;
    padding: 5px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid orangered;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: orangered;
}

.validation-summary-valid {
    display: none;
}

/*>********************************** главное меню _Layout*/
.main-menu-container {
    border-bottom: 2px solid #1b5972;
    background-color: #fff;
}
.float-menu {
    z-index: 1000;
    position: fixed;
    top: 0;
    max-width: 1140px;
    width:calc(100% - 10px);
    margin: 0 auto;
    box-sizing:border-box;
}

.menu-voider {
    background-color: #fff;

}

#main-menu-li {
    top: 0px;
    left: 0%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    #main-menu-li li {
        position: relative;
        list-style: none;
    }

        #main-menu-li li a {
            padding: 4px 16px;
            display: block;
            color: #1b5972;
            line-height: 40px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: .5s;
            box-sizing: border-box;
        }

#main-menu-li li a:hover {
    color: #ffcd00;
    background-color: #1b5972;
    text-decoration: none;
}

.the-container {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

#title-container {
    padding: 8px 24px;
    color: #1b5972;
    background-color: #1b5972;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#title-container article {
    text-align: center;
    color: #ffcd00;
}

.shared-login h5, .shared-login a {
    color: #fff;
    font-size:14px;
    display:inline-block;
    margin-left:24px;
}

.shared-login a:hover{
    color: #ffcd00;
}



.menu-bottom-line {
    background-color: #1b5972;
    height: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.top-page-header{
    color:#ffcd00;
    background-color:#1b5972;
    width:100%;
    padding:8px;
    font-size:18px;
    text-transform:uppercase;
    display:flex;
    justify-content:start;
    align-items:center;
    flex-wrap:wrap;
}
    .top-page-header-a{
        color:#fff;
    }
        .top-page-header-a:hover{
            color:#ffcd00;
        }

.main-menu-thin {
    display: none;
    justify-content:center;
    align-items:center;
}
#thin-menu {
    padding: 4px 8px;
    min-width: 230px;
    color: #1b5972;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    box-sizing: border-box;
    cursor:pointer;
    position:relative;
}
    #thin-menu:hover {
        color: #ffcd00;
        background-color: #1b5972;
        text-decoration: none;
    }
.thin-menu-items-container {
   font-size:12px;
}
    .thin-menu-items-container li{
        list-style:none;
    }
@media(max-width: 800px) {
    .s-star16-formenu {
        position:initial;
        top: 0;
        left: 0;
    }
    #main-menu-li{
    display:none;        
    }
    .main-menu-thin {
        display: flex;
        justify-content:space-between;
    }
    .thin-menu-items-container{
        left:0;
        padding:4px 10px;
        text-align:right;
    }
        .thin-menu-items-container li>a:hover {
            color: #ffcd00;
            background-color: #1b5972;
            text-decoration: none;
        }
}
@media(max-width: 450px) {
    #thin-menu {
        padding: 4px 8px;
        min-width: 230px;
        width: 180px;
        color: #1b5972;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: .5s;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
    }

}
/*фильтр*/
.s-filter {
    padding: 4px;
    flex-basis:1200px;
    font-size: 14px;
    border: 1px solid #1b5972;
    border-radius: 4px 0 0 4px;
    border-right: none;
    width: Calc(100% - 31px);
    display:inline-block;
}
    .s-filter:focus{
        outline:none;
    }

.s-filter-clear {
    height: 31px;
    width: 31px;
    border: 1px solid #1b5972;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #1b5972;
    cursor: pointer;
    display: inline-block;
}
/* ******************** формы*/
.small-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.identity-cintainer {
    min-width:340px;    
}

.form-label {
    color: #1b5972;
    padding: 5px;
    margin-bottom: 0;
}

.form-entry-title {
    background-color: #fff;
    color: #1b5972;
    padding: 5px;
    overflow-wrap: break-word;
    width: 100%;
    border: 1px solid #1b5972;
    box-shadow: inset 0 1px 3px #dee2e6;
    border-radius: 5px;
}

.form-entry-body {
    background-color: #fff;
    color: #1b5972;
    padding: 5px;
    overflow-wrap: break-word;
    width: 100%;
    height: 300px;
    border: 1px solid #1b5972;
    box-shadow: inset 0 1px 3px #dee2e6;
    border-radius: 5px;
    resize: none;
}

.form-date {
    background-color: #fff;
    color: #1b5972;
    padding: 5px;
    border: 1px solid #1b5972;
    box-shadow: inset 0 1px 3px #dee2e6;
    border-radius: 5px;
}

.form-checkbox{
    width:15px;
    height:15px;
}

.form-submit {
    padding: 5px 40px;
    margin: 5px 0;
    border-radius: 5px;
    border: 0px;
    background-color: #1b5972;
    color: #fff;
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
}

    .form-submit:hover {
        color: #ffcd00;
    }

    .form-submit:focus{
       outline:none;
    }

.search-submit{
    height: 30px;
    background-color:#fff;
    color:#1b5972;
    border:none;
    padding:0 12px;
    cursor:pointer;
}
.search-entry {
    box-sizing: border-box;
    height: 30px;
    background-color: #bbb;
    color: #1b5972; 
    border: 1px solid #1b5972;
    min-width: 300px;
    flex-basis:800px;
}

.form-search-fade {
    padding: 5px 40px;
    margin: 5px 0;
    border-radius: 5px;
    border: 0px;
    background-color: #1b5972;
    color: #ffcd00;
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
}
    .form-search-fade:hover{
        color:#fff;
    }

.search-submit, .search-entry, .form-search-fade, .form-submit, .form-date, .form-entry-body, .form-entry-title:focus, .fr-filter {
    outline: none;
}

.red-btn-alert {
    text-align: center;
    background-color: #1b5972;
    color: orangered;
    border-radius: 2px;
    border: none;
    font-weight: 200;
    font-size: 16px;
    padding: 4px;
    margin-bottom: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn {
    padding: 5px 24px;
    background-color: #1b5972;
    color: #ffcd00;
    border-radius: 5px;
    font-weight: 600;
    margin: 5px 0;
    cursor:pointer;
}

.img-100 {
    width: 100%;
    object-fit: contain;
    padding: 16px 0;
    max-height: 500px;
}

.ticket{
    padding:4px 8px;
    border: 1px solid #1b5972;
    border-radius:4px;
    background-color:#fff;
    color:#1b5972;
    font-weight:600;
    font-size:16px;
}
/*блоки фигур*/
.small-figure-figure {
    padding: 2px;
    width: 268px;
    min-height: 200px;
    background-color: #383d41;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 4px;
}
.small-figure-title{
    color:#ffcd00;
    font-size:16px;
    font-weight: 200;
    text-align:center;
}
.min-height-180{
    min-height:180px;
}


.element-square-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

figcaption {
    color: #ffcd00;
    align-content: center;
    padding: 4px;
    align-content:center;
    word-break:break-word;
}

figure img {
    max-width: 164px;
    max-height: 120px;
    object-fit: fill;
}

/* мелкие детали*/
.arrow-down{
    width:24px;
    height:24px;
    background-image: url('../resourses/yellowarrowdown.png');
    background-repeat:no-repeat;
}
/* flex контейнеры*/
/* в расшифровке на примере первого
    h - horizontal
    sb - space beetven для jc
    c - center для ai
*/
.flex-wr {
    flex-wrap: wrap;
}
.flex-wr-reverse {
    flex-wrap: wrap-reverse;
}
.flex-hsbc{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.flex-hsac {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-hsbs {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.flex-hsc {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-hec {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-hcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-hss {
    display: flex;
    justify-content: start;
    align-items: start;
}

.flex-vss {
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: start;
}
.flex-vsc{
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
}

/* картинка с фоном и маской*/
/* Заполняет на 100% так что нужно оборачивать*/
.image-container{
    width:100%;
    height: 100%;
    position:relative;
}
.image-self-back {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    position: absolute;
    top:0;
    left:0;
}
.image-mask {
    width: 100%;
    height: 100%;
    background-color: #fff5;
    position: absolute;
    top: 0;
    left: 0;
}
.image-self-front {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*Карточка события */
#event-list {
    margin: 0 -5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width: 1160px){
    #event-list {
        justify-content: space-around;
    }
}
.eventlist-container {
    align-self:flex-start;
    border: 1px solid #1b5972;
    border-radius: 4px 4px 0 0;
    margin: 8px 5px 0 5px;
    background-color: #fff;
    box-shadow: 0 0 2px 2px;
    width: 370px;
}

    .eventlist-container:hover {
        box-shadow: 2px 2px 5px 5px;
    }
.event-a{
    color: #333;
}
.event-a:hover {
    color: #333;
}

.eventlist-img {
    margin: 2px;
    height: 239px;
    width:99%;
}

.eventlist-info {
    flex: 3;
    padding: 0 16px 16px 16px;
    width:100%;
}


    .eventlist-info h4 {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
    }
    .eventlist-info h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }   
    .eventlist-info label {
        margin-right: 16px;
        font-size: 12px;
    }

.eventlist-bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b5972;
    padding: 4px 24px;
    width:100%;
}


.eventlist-btn-come-right-col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info-img {
    cursor: pointer;
}

.info-num {
    padding: 0 15px;
    color: #fff;
}
.container-box-shadow {
    border: 1px solid #1b5972;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px;
    padding:4px;
}

/*ИНДИКАТОР ЗАГРУЗКИ*/
#noTrespassingOuterBarG {
    height: 19px;
    width: 156px;
    border: 1px solid #1b5972;
    overflow: hidden;
    background-color: #ffcd00;
    margin: 24px auto;
}

.noTrespassingBarLineG {
    background-color: #1b5972;
    float: left;
    width: 14px;
    height: 117px;
    margin-right: 23px;
    margin-top: -27px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.noTrespassingAnimationG {
    width: 230px;
    animation-name: noTrespassingAnimationG;
    -o-animation-name: noTrespassingAnimationG;
    -ms-animation-name: noTrespassingAnimationG;
    -webkit-animation-name: noTrespassingAnimationG;
    -moz-animation-name: noTrespassingAnimationG;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}



@keyframes noTrespassingAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -37px;
    }
}

@-o-keyframes noTrespassingAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -37px;
    }
}

@-ms-keyframes noTrespassingAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -37px;
    }
}

@-webkit-keyframes noTrespassingAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -37px;
    }
}

@-moz-keyframes noTrespassingAnimationG {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -37px;
    }
}

/*Частичные представления*/
/*список чатов*/
.ev-chat-list {
    overflow-y: scroll;
    flex-basis: 1000px;
    padding: 8px;
}
.ev-link-title{
    padding:0 8px;
}
.chat-list-small {
    width: 100%;
}

.chat-list-small > span{
    color:#1b5972;
    font-size:14px;

}
    .chat-list-small > i{
        color:#000;
    }
.ev-link-img {
    max-height: 48px;
    max-width: 48px;
    object-fit: contain;
}
.ev-link-send-btn{
    cursor:pointer;
    color:#1b5972;
}
/*сообщения*/
.message-item {
    background-color: #ccc;
    padding: 4px;
    margin-bottom:8px;
    border-radius: 4px;
}

.my-message {
    background-color: #1b59723b;
}

.message-sender {
    color: #1b5972;
    font-size: 14px;
}

.message-item-event {
    background-color: #1b5972;
}

.message-item-event-link {
    cursor: pointer;
}

    .message-item-event-link:hover {
        box-shadow: 0 0 4px 4px #2228;
    }

.message-link-img {
    height: 150px;
    width: 200px;
    object-fit: contain;
}

.message-display-inline {
    display: inline-block;
}

.message-sender-event {
    color: #ffcd00;
}

.message-text-event {
    color: #fff;
}

.message-text {
    color: black;
}

.message-date-event {
    color: #fff;
    font-size: 10px;
}

.message-date {
    color: #1b597299;
    font-size: 10px;
}
/* МОДАЛЬНОЕ ОКНО*/
.modal-shadow{
    position:fixed;
    z-index: 10;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #0005;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    min-width: 400px;
    max-width: -moz-max-content;
    max-width: -webkit-max-content;
    max-width: max-content;
    min-height: 400px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.modal-body{    
    background-color: #fff;
    padding: 8px;
}
.modal-my-footer{
    display: flex;
    justify-content: flex-end;
    background-color: #1b5972;
}
.modal-ok, .modal-cancel{
    padding: 8px;
    color: #ffcd00;
    cursor: pointer;
}
.modal-close {
    background-image: url(/resourses/cancel.png);
    background-position: -10px -10px;
    width: 8px;
    height: 8px;
    float: right;
}
@media(max-width: 700px) {
    .modal-content{
        max-width: 94%;
    }
}
/* карточка друга*/
.friend-list-container {
    border: 1px solid #1b5972;
    background-color: #fff;
    border-radius: 4px;
    padding: 2px;
    margin: 16px 0;
    width: 320px;
}

.friend-list-img {
    width: 100%;
    height: 200px;
}
/*справка */
.help-btn {
    position: absolute;
    margin: 0 0px;
    height: 24px;
    width: 24px;
    position: relative;
    max-width: 380px;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.help-btn-dark {
    background-image: url('/resourses/help-d.png');
}
.help-btn-light {
    background-image: url('/resourses/help-l.png');
}
.help-content {
    cursor:default;
    position: relative;
    width: 380px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 3px 4px 2px #777;
    bottom: 0;
    left: 0;
    color: black;
    z-index: 9999;
    font-size: 12px;
    padding: 4px;
}
    .help-content>p{
        margin: 0;
        text-transform:none;
    }

.help-close {
    background-color: #1b5972;
    padding: 2px;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    background-image: url('/resourses/cancel.png');
    background-position: -8px -9px;
    float: left;
    cursor: pointer;
}

.a-dark {
    color: #1b5972;
    font-size: 14px;
    text-decoration: underline;
}